<template>
  <div class="container">
    <header class="header">
      <div class="tabbar">

        <div class="tabbar-left">
          <button v-if="isEdit" class="button is-secondary is-large" @click="showShareLog">
                      <i class="icon-rs-log-sharefrom"></i> {{$t('Button.Share')}}
                    </button>

          <div v-else class="info">
            <i class="info__icon icon-rs-log-sharefrom"></i>
            <div class="info__content">
              <p class="subtitle">Owner</p>
              <h5 class="title is-4">{{owner}}</h5>
            </div>
          </div>
        </div>

        <div class="tabbar-center">
          <div class="tabs is-toggle is-large">
            <ul>
              <li class="is-active">
                <router-link :to="'/log/' + $route.params.cs_log_no">{{$t('Menu.About')}}</router-link>
              </li>
              <li>
                <router-link :to="'/personnel/' + $route.params.cs_log_no" append>{{$t('Menu.Personnel')}} ({{ log.personnel_count }})</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="tabbar-right btn-group">
          <button v-if="isEdit" class="button is-tertiary is-large" @click="showRemoveLog">{{$t('Button.Remove')}}</button>
          <router-line v-if="isEdit" :to="'/log/' + $route.params.cs_log_no + '/edit'" class="button is-primary is-large" @click="showModal">{{$t('Button.Update')}}</router-line>
        </div>

      </div>
    </header>

    <main>
      <div class="columns is-gapless is-multiline">
        <div class="column is-4">
          <div class="summary__item">
            <i class="summary__icon icon-rs-log-type"></i>
            <div class="summary__content">
              <label class="label">{{$t('Field.CrimeType')}}</label>
              <span>{{ this.crimeType }}</span>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="summary__item">
            <i class="summary__icon icon-rs-log-type"></i>
            <div class="summary__content">
              <label class="label">{{$t('Field.ReceivedDate')}}</label>
              <span>{{ log.receive_date }}</span>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="summary__item">
            <i class="summary__icon icon-rs-log-type"></i>
            <div class="summary__content">
              <label class="label">{{$t('Field.ReceivedTime')}}</label>
              <span>{{ log.receive_time }}</span>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="summary__item">
            <i class="summary__icon icon-rs-log-type"></i>
            <div class="summary__content">
              <label class="label">{{$t('Field.County')}}</label>
              <span>{{ log.county }}</span>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="summary__item">
            <i class="summary__icon icon-rs-log-type"></i>
            <div class="summary__content">
              <label class="label">{{$t('Field.Municipality')}}</label>
              <span>{{ log.municipality }}</span>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="summary__item">
            <i class="summary__icon icon-rs-log-type"></i>
            <div class="summary__content">
              <label class="label">{{$t('Field.Humidity')}}</label>
              <span>{{ log.humidity }}</span>
            </div>
          </div>
        </div>

        <div class="column is-8">
          <div class="summary__item ">
            <i class="summary__icon icon-rs-log-location"></i>
            <div class="summary__content">
              <label class="label">{{$t('Field.Address')}}</label>
              <span>{{ log.address }}</span>
              <iframe class="summary__map" :src="map_src" width="95%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="summary__items">
            <div class="summary__item" style="height: auto;">
              <i class="summary__icon icon-rs-log-type"></i>
              <div class="summary__content">
                <label class="label">{{$t('Field.Temperature')}}</label>
                <span v-show="log.temperature != ''">{{ log.temperature }} &deg;{{ temperature_flag }}</span>
              </div>
            </div>
            <div class="summary__item">
              <i class="summary__icon icon-rs-log-note"></i>
              <div class="summary__content">
                <label class="label">{{$t('Field.Note')}}</label>
                <span>{{ log.log_note }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- POPUP -->
    <modal v-show="shareLog" @close="closeShareLog">
      <!-- Header -->
      <h4 slot="header">{{$t('Message.ShareLog')}}</h4>
      <!-- Content -->
      <div slot="body">
        <sharelog ref="shareForm"></sharelog>
      </div>
    </modal>

    <modal v-show="removeLog" @close="closeRemoveLog">
      <!-- Header -->
      <!-- Content -->
      <div slot="body">
        <p class="title is-size-4 has-text-centered">{{$t('Message.ConfirmDeleteLog')}} {{ $route.params.cs_log_no }}?</p>
      </div>
      <!-- Footer -->
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" @click="closeRemoveLog" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-tertiary is-primary is-large" @click="deleteLog">{{$t('Button.Remove')}}</button>
      </div>
    </modal>

    <modal v-show="updateLog" @close="closeModal">
      <!-- Header -->
      <h4 slot="header">{{$t('Message.UpdateLog')}}</h4>
      <!-- Content -->
      <div slot="body">
        <addeditlog ref="logForm" :act="act" :crimeType="obj_crime_type" :recDate="recDate" :recTime="recTime" :temperature_flag="temperature_flag" v-on:logUpdated="getLogInfo" v-on:closeModal="closeModal">
        </addeditlog>
      </div>
    </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
  import modal from '../parts/_Modal.vue';
  import sharelog from '../parts/_ShareLog.vue';
  import addeditlog from '../parts/_AddEditLog.vue';
  import router from '../../router';

  export default {
    name: 'basic-info',
    components: {
      modal,
      sharelog,
      addeditlog
    },
    data() {
      return {
        shareLog: false,
        removeLog: false,
        updateLog: false,
        log: [],
        act: 'update',
        types: [],
        crimeType: '',
        obj_crime_type: [],
        recDate: '',
        recTime: '',
        map_src: '',
        owner_id: '',
        owner: '',
        temperature_flag: '',
		isEdit: true
      };
    },
    methods: {
      getLogInfo() {
        this.updateLog = false;

        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem("staff_id"));
        params.append('token', sessionStorage.getItem("token"));

        this.axios.post(this.$conf.API_URL + '/SceneLog/GetLogInfo', params)
          .then((response) => {
            this.log = response.data

            this.crimeType = this.log.obj_crime_type.value
            this.obj_crime_type = response.data.obj_crime_type
            this.recDate = this.log.receive_date
            this.recTime = this.log.receive_time
            this.temperature_flag = this.log.temperature_flag
            this.owner_id = this.log.log_owner.staff_id
            this.owner = this.log.log_owner.staff_name
            this.map_src = 'https://www.google.com/maps/embed/v1/place?key=AIzaSyDFDOpShF2PfXgY484JOl5-DPZAxBWXwnE&q=' + this.log.lat + ',' + this.log.lon

            this.$refs.logForm.$refs.county.value = this.log.county
            this.$refs.logForm.$refs.municipality.value = this.log.municipality
            this.$refs.logForm.$refs.address.value = this.log.address
            this.$refs.logForm.$refs.humidity.value = this.log.humidity
            this.$refs.logForm.$refs.temperature.value = this.log.temperature
            this.$refs.logForm.$refs.note.value = this.log.log_note

	        if(sessionStorage.getItem('staff_id') == this.owner_id)
	        {
              sessionStorage.setItem('is_edit', true);
		      this.isEdit = true;
	        }
	        else
	        {
              sessionStorage.setItem('is_edit', false);
		      this.isEdit = false;
	        }
          }).catch(error => {
            console.log(error);
          });
      },
      showShareLog() {
        this.shareLog = true;
        this.$refs.shareForm.getSharedStatus();
        this.$refs.shareForm.getPersonHistorySharedEmail();
      },
      closeShareLog() {
        this.shareLog = false;
      },
      deleteLog() {
        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        this.axios.post(this.$conf.API_URL + '/SceneLog/DeleteLog', params).then((response) => {
          getLogInfo();
        }).catch(error => {
          console.log(error);
        });

        router.push({
          'path': '/inbox'
        })
      },
      closeRemoveLog() {
        this.removeLog = false;
      },
      showRemoveLog() {
        this.removeLog = true;
      },
      showModal() {
        this.updateLog = true;
      },
      closeModal() {
        this.updateLog = false;
      }
    },
    beforeMount() {
	  this.checkAuth();
      this.getLogInfo();
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
