<template>
  <div class="container">
    <header class="header">
      <div class="tabbar">

        <div class="tabbar-center">
          <div class="tabs is-toggle is-large">
            <ul>
              <li :class="{ 'is-active': isActive($t('Menu.All')) }"><a @click="setActive($t('Menu.All'))">{{$t('Menu.All')}}</a></li>
              <li :class="{ 'is-active': isActive($t('Menu.Suspect')) }"><a @click="setActive($t('Menu.Suspect'))">{{$t('Menu.Suspect')}}</a></li>
              <li :class="{ 'is-active': isActive($t('Menu.Witness')) }"><a @click="setActive($t('Menu.Witness'))">{{$t('Menu.Witness')}}</a></li>
              <li :class="{ 'is-active': isActive($t('Menu.Victim')) }"><a @click="setActive($t('Menu.Victim'))">{{$t('Menu.Victim')}}</a></li>
            </ul>
          </div>
        </div>

        <div v-show="isEdit" class="tabbar-right btn-group">
          <button class="button is-primary is-large" @click="clickAddBtn">{{$t('Button.Add')}}</button>
        </div>

      </div>
    </header>

    <main>
      <div class="cards" v-if="tab.toLowerCase() === $t('Menu.All').toLowerCase()">
        <div class="card" v-for="contact in contacts" @click="getContactInfo(contact.cs_person_id)">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <i v-if="false" class="photo__icon icon-rs-log-linkcase"></i>
                  <img :src="(contact.photo =='') ? avatar : contact.photo" alt="Avatar">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{contact.person_name}}</p>
                <p class="subtitle is-5">{{contact.person_type}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cards" v-else>
        <div class="card" v-for="contact in contacts" v-if="tab.toLowerCase() === contact.person_type.toLowerCase()" @click="getContactInfo(contact.cs_person_id)">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <i v-if="false" class="photo__icon icon-rs-log-linkcase"></i>
                  <img :src="(contact.photo =='') ? avatar : contact.photo" alt="Avatar">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{contact.person_name}}</p>
                <p class="subtitle is-5" v-if="contact.age != '' && contact.sex != ''">{{contact.age}}, {{contact.sex}}</p>
                <p class="subtitle is-5" v-else>{{contact.age}}{{contact.sex}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

    <!-- POPUP -->
    <modal v-show="isModalVisible" @close="closeModal" class="is-large">
      <!-- Header -->
      <h4 slot="header">{{ (act == 'add') ? $t('Message.AddContact') : $t('Message.UpdateContact') }}</h4>
      <!-- Content -->
      <div slot="body">
        <form role="form" method="post">
          <div class="columns">
            <div class="column is-one-third">
              <div class="file is-fullwidth">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume" @change="fileChanged" accept="image/*">
                  <div class="avatar-uploader">
                    <img v-if="photo" :src="photo" class="avatar">
                    <i v-else class="icon-rs-add avatar-uploader-icon"></i>
                  </div>
        		</label>
              </div>
            </div>

            <div class="column">
              <div class="columns is-multiline">

                <div class="column is-6">
                  <div class="field">
                    <label class="label req">{{$t('Field.ContactType')}}</label>
                    <div class="control">
                      <el-select id="obj_person_type" v-model="obj_person_type" value-key="code" placeholder="Select">
                        <el-option v-for="item in ddl_person_type" :key="item.code" :label="item.value" :value="item">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label">{{$t('Field.Sex')}}</label>
                    <div class="control">
                      <el-select v-model="obj_sex" value-key="code" placeholder="Select">
                        <el-option v-for="item in ddl_sex" :key="item.code" :label="item.value" :value="item" :selected="item">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label req">{{$t('Field.LastName')}}</label>
                    <div class="control">
                      <input class="input" type="text" v-model="last_name" maxlength="20">
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label req">{{$t('Field.FirstName')}}</label>
                    <div class="control">
                      <input class="input" type="text" v-model="first_name" maxlength="20">
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label">{{$t('Field.PhoneNo')}}</label>
                    <div class="control">
                      <input class="input" type="tel" v-model="phone" maxlength="20">
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label">{{$t('Field.DateofBirth')}}</label>
                    <div class="control">
                      <el-date-picker v-model="dob" type="date" format="MM/dd/yyyy" prefix-icon="icon-rs-log-date" placeholder="Select date" :picker-options="dateValidation">
                      </el-date-picker>
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label">{{$t('Field.SSN')}}</label>
                    <div class="control">
                      <input class="input" type="text" v-model="ssn" maxlength="20">
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label">{{$t('Field.Race')}}</label>
                    <div class="control">
                      <el-select v-model="obj_race" value-key="code" placeholder="Select">
                        <el-option v-for="item in ddl_race" :key="item.code" :label="item.value" :value="item" :selected="race">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>

                <div class="column is-12">
                  <div class="field">
                    <label class="label">{{$t('Field.BriefDescription')}}</label>
                    <div class="control">
                      <textarea class="textarea" placeholder="" v-model="description"></textarea>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </form>

      </div>
      <!-- Footer -->
      <div v-show="isEdit" slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" v-if="act === 'add'" @click="closeModal" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-tertiary is-large" v-if="act === 'update'" @click="showDeleteModal" aria-label="Delete">{{$t('Button.Delete')}}</button>
        <button class="button is-large is-primary" @click="checkForm()">{{$t('Button.Save')}}</button>
      </div>
    </modal>


    <modal v-show="isDeleteVisible" @close="closeDeleteModal">
      <div slot="body">
        <p class="title is-size-4 has-text-centered">{{$t('Message.ConfirmDeletePersonnel')}} {{ first_name }}, {{ last_name }}?</p>
      </div>
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" @click="closeDeleteModal" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-tertiary is-large" @click="deleteContact">{{$t('Button.Delete')}}</button>
      </div>
    </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
  import modal from '../parts/_Modal.vue';
  import moment from 'moment';
  import avatar from '../../../static/avatar.png';

  export default {
    name: 'contact',
    components: {
      modal,
    },
    data() {
      return {
        act: 'add',
        contacts: [],
        isModalVisible: false,
        isDeleteVisible: false,
        tab: 'All',
        cs_person_id: '',
        person_type: '',
        first_name: '',
        last_name: '',
        sex: [],
        race: [],
        dob: '',
        ssn: '',
        phone: '',
        description: '',
        photo: '',
        obj_person_type: [],
        obj_sex: [],
        obj_race: [],
        ddl_person_type: [],
        ddl_sex: [],
        ddl_race: [],
        formData: new FormData(),
		avatar: avatar,
	    dateValidation: {
	      disabledDate(time) {
		    return time.getTime() > Date.now();
	      },
        },
	    isEdit: true
      };
    },
    methods: {
      isActive: function(val) {
        return this.tab === val
      },
      setActive: function(val) {
        this.tab = val; // no need for Vue.set()
      },
      clickAddBtn() {
        this.act = 'add';
        this.resetForm();
        this.isModalVisible = true;
      },
      closeModal() {
        this.isModalVisible = false;
      },
      showDeleteModal() {
        this.isDeleteVisible = true;
      },
      closeDeleteModal() {
        this.isDeleteVisible = false;
      },
      fileChanged(e) {
        this.formData.append('file', e.target.files[0]);
        this.photo = window.URL.createObjectURL(e.target.files[0]);
      },
      getContactList() {
        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Personnel/GetContactList', params)
          .then((response) => {
            this.contacts = response.data;
            this.obj_person_type = response.data.obj_person_type;
            this.obj_sex = response.data.obj_sex;
            this.obj_race = response.data.obj_race;
          }).catch(error => {
            console.log(error);
          });
      },
      editContact() {
        var params = new URLSearchParams();
        this.formData.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        this.formData.append('cs_person_id', this.cs_person_id);
        this.formData.append('staff_id', sessionStorage.getItem('staff_id'));
        this.formData.append('token', sessionStorage.getItem('token'));
        this.formData.append('person_type', this.obj_person_type.code);
        this.formData.append('first_name', this.first_name);
        this.formData.append('last_name', this.last_name);
        this.formData.append('dob', (this.dob != '') ? moment(this.dob).format('M/D/YYYY') : '');
        this.formData.append('sex', (!this.obj_sex.code) ? '' : this.obj_sex.code);
        this.formData.append('race', (!this.obj_race.code) ? '' : this.obj_race.code);
        this.formData.append('ssn', (!this.ssn) ? '' : this.ssn);
        this.formData.append('phone', (!this.phone) ? '' : this.phone);
        this.formData.append('description', this.description);

        if (this.act == 'update') {
          this.axios.post(this.$conf.API_URL + '/Personnel/UpdateContact', this.formData)
            .then((response) => {
              this.isModalVisible = false;
              this.getContactList();
              this.cs_person_id = '';
            }).catch(error => {
              console.log(error);
            });
        } else {
          this.axios.post(this.$conf.API_URL + '/Personnel/AddContact', this.formData)
            .then((response) => {
              this.isModalVisible = false;
              this.getContactList();
            }).catch(error => {
              console.log(error);
            });
        }
      },
      getContactInfo(cs_person_id) {
        this.resetForm();
        this.act = 'update';
        this.cs_person_id = cs_person_id;
        this.isModalVisible = true;

        var params = new URLSearchParams();
        params.append('cs_person_id', cs_person_id);
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Personnel/GetContactInfo', params)
          .then((response) => {
            this.obj_person_type = response.data.obj_person_type;
            this.first_name = response.data.first_name;
            this.last_name = response.data.last_name;
            this.obj_sex = response.data.obj_sex;
            this.obj_race = response.data.obj_race;
            this.dob = response.data.dob;
            this.ssn = response.data.ssn;
            this.phone = response.data.phone;
            this.description = response.data.description;
            this.photo = response.data.photo;
          }).catch(error => {
            console.log(error);
          });
      },
      deleteContact() {
        var params = new URLSearchParams();
        params.append('cs_person_id', this.cs_person_id);
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Personnel/DeleteContact', params)
          .then((response) => {
            this.closeModal();
            this.closeDeleteModal();
            this.getContactList();
          }).catch(error => {
            console.log(error);
          });
      },
      getLookup() {
        this.axios.get(this.$conf.API_URL + '/Login/SyncLookup?key=contact_type').then((response) => {
          this.ddl_person_type = response.data[0].content
        }).catch(error => {
          console.log(error);
        });
        this.axios.get(this.$conf.API_URL + '/Login/SyncLookup?key=contact_sex').then((response) => {
          this.ddl_sex = response.data[0].content
        }).catch(error => {
          console.log(error);
        });
        this.axios.get(this.$conf.API_URL + '/Login/SyncLookup?key=contact_race').then((response) => {
          this.ddl_race = response.data[0].content
        }).catch(error => {
          console.log(error);
        });
      },
      resetForm() {
        this.first_name = '',
          this.last_name = '',
          this.obj_person_type = [],
          this.obj_sex = [],
          this.obj_race = [],
          this.dob = '',
          this.ssn = '',
          this.description = '',
          this.phone = '',
          this.photo = '',
          this.formData = new FormData();
      },
      checkForm() {
        if (!this.first_name || !this.last_name || !this.obj_person_type.code) {
          this.$message.error(this.$t('Message.RequiredField'));
          return false;
        } else {
          this.editContact();
        }
      }
    },
    beforeMount() {
	  this.checkAuth();
      this.getContactList();
      this.getLookup();
	  this.setActive(this.$t('Menu.All'));
	  this.isEdit = (sessionStorage.getItem('is_edit') == 'true') ? true : false;
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
