<template>
  <div class="container">
    <header class="header">
      <div class="tabbar">

        <div class="tabbar-left">
          <div class="field">
            <div class="control">
              <el-input
              class="el-input__search"
              v-model="search"
              :placeholder="$t('Button.Search')"
              @keyup.native="filterText">
                <i slot="prefix" class="el-input__icon icon-rs-ub-search"></i>
                <i slot="suffix" v-show="search != ''" class="el-input__icon el-icon-circle-close" @click="resetQuery"></i>
              </el-input>
            </div>
          </div>
        </div>

        <div class="tabbar-center">
          <div class="tabs is-toggle is-large">
            <ul>
              <li>
                <router-link :to="'/entrance/' + $route.params.cs_log_no">{{$t('Menu.Current')}}</router-link>
              </li>
              <li class="is-active">
                <router-link :to="'/entrance-history/' + $route.params.cs_log_no">{{$t('Menu.History')}}</router-link>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </header>

    <main>
      <el-table :data="tableData" max-height="600" style="width: 100%" ref="tableRef">
        <el-table-column prop="name" sortable :label="$t('Field.Name')">
          <template slot-scope="scope">
            <a @click="showModal(scope.row)">{{scope.row.person_name}}</a>
          </template>
          </el-table-column>
          <el-table-column
            prop="entry_type"
            sortable
            :label="$t('Field.Type')">
          </el-table-column>
          <el-table-column
            prop="in_datetime"
            sortable
            :label="$t('Field.EnteringTime')">
          </el-table-column>
          <el-table-column
            prop="out_datetime"
            sortable
            :label="$t('Field.LeavingTime')">
          </el-table-column>
          <el-table-column
            prop="reason"
            :label="$t('Field.Reason')"
            min-width="300">
          </el-table-column>
        </el-table>

        <!--<div class="mt-3 has-text-centered">
          <el-pagination
            v-show="tableData.length > 0"
            layout="prev, pager, next"
            :total="tableData.length">
          </el-pagination>
        </div>-->

    </main>

    <!-- POPUP -->
      <modal v-show="viewEntranceLog" @close="closeModal" class="is-large">
        <!-- Header -->
        <h4 slot="header">
          {{info.person_name}}
          <span class="subtitle is-capitalized"> - {{info.entry_type}} </span>
        </h4>
        <!-- Content -->
        <div slot="body">
          <!-- Entrying -->
          <div class="tile is-ancestor">
            <div class="tile is-parent">
                <i class="icon icon-rs-entrylog-in is-size-1 has-text-primary"></i>
            </div>

            <div class="tile is-vertical is-11">
              <div class="columns is-multiline">

                <div class="column is-4">
                  <div class="field">
                    <label class="label">{{$t('Field.EnteringTime')}}</label>
                    <p>{{info.in_datetime}}</p>
                  </div>
                </div>

                <div class="column is-4">
                  <div class="field">
                    <label class="label">{{$t('Field.Entrance')}}</label>
                    <p>{{info.in_entrance}}</p>
                  </div>
                </div>

                <div class="column is-4">
                  <div class="field">
                    <label class="label">{{$t('Field.AuthorizedBy')}}</label>
                    <p>{{info.in_by}}</p>
                  </div>
                </div>

                <div class="column is-12">
                  <div class="field">
                    <label class="label">{{$t('Field.Reason')}}</label>
                    <p>{{info.reason}}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <hr class="mtb-3">
          <!-- Leaving -->
          <div class="tile is-ancestor">
            <div class="tile is-parent">
                <i class="icon icon-rs-entrylog-out is-size-1 has-text-grey-lighter"></i>
            </div>

            <div class="tile is-vertical is-11">
              <div class="columns is-multiline">

                <div class="column is-4">
                  <div class="field">
                    <label class="label">{{$t('Field.LeavingTime')}}</label>
                    <p>{{info.out_datetime}}</p>
                  </div>
                </div>

                <div class="column is-4">
                  <div class="field">
                    <label class="label">{{$t('Field.Entrance')}}</label>
                    <p>{{info.out_entrance}}</p>
                  </div>
                </div>

                <div class="column is-4">
                  <div class="field">
                    <label class="label">{{$t('Field.AuthorizedBy')}}</label>
                    <p>{{info.out_by}}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
  import modal from '../parts/_Modal.vue';
  import { searchMixin } from '../mixins/search'

  export default {
    name: 'entrance-history',
    components: {
      modal,
    },
    data() {
      return {
        options: [],
        search: '',
        tableData: [],
        viewEntranceLog: '',
        info: ''
      };
    },
    methods: {
      showModal(row) {
        this.viewEntranceLog = true;
        this.info = row;
      },
      closeModal() {
        this.viewEntranceLog = false;
      },
      getEntranceHistory() {
        var params = new URLSearchParams();
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));

        this.axios.post(this.$conf.API_URL + '/Entrance/GetEntranceList', params)
          .then((response) => {
            this.tableData = response.data
          }).catch(error => {
            console.log(error);
          });
      }
    },
    beforeMount() {
	  this.checkAuth();
      this.getEntranceHistory();
    },
    mixins: [searchMixin]
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
