<template>
  <div class="container">
    <header class="header">
      <div class="tabbar">

        <div class="tabbar-center">
          <div class="tabs is-toggle is-large">
            <ul>
              <li class="is-active">
                <router-link :to="'/entrance/' + $route.params.cs_log_no">{{$t('Menu.Current')}}</router-link>
              </li>
              <li>
                <router-link :to="'/entrance-history/' + $route.params.cs_log_no">{{$t('Menu.History')}}</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="tabbar-right btn-group">
          <button v-show="isEdit" class="button is-primary is-large" @click="showModal">{{$t('Button.NewEntrant')}}</button>
        </div>

      </div>
    </header>

    <main>
      <div class="cards has-border">

        <div class="card" v-for="(person, index) in statusList" :key="index" @click="editLog(person.cs_person_id, person.category_type, person.status)">

          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <img v-if="person.status == 'Leave'" src="../../assets/images/info_switch_leave.png" alt="Status">
                <img v-else src="../../assets/images/info_switch_here.png" alt="Status">
              </div>

              <div class="media-content">
                <p class="title is-4">{{person.person_name}}</p>
                <p class="subtitle is-5">{{person.person_type}}</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </main>

    <!-- POPUP -->
    <modal v-show="isEditVisible" v-for="(person, index) in statusList" :key="index" v-if="cs_person_id === person.cs_person_id" @close="isEditVisible = false; resetEntryForm();">
      <!-- Header -->
      <h4 slot="header" v-if="person.status == 'Leave'"><b>{{person.person_name}}</b> {{$t('Message.EnteringHere')}} </h4>
      <h4 slot="header" v-else><b>{{person.person_name}}</b> {{$t('Message.LeavingHere')}} </h4>
      <!-- Content -->
      <div slot="body">
        <div class="columns is-multiline">

          <div v-if="person.status == 'Leave'" class="column is-12">
            <div class="field">
              <label class="label req">{{$t('Field.Reason')}}</label>
              <div class="control">
                <textarea class="textarea" v-model="reason">{{reason}}</textarea>
              </div>
            </div>
          </div>

          <div class="column is-12">
            <div class="field">
              <label class="label">{{$t('Field.Entrance')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="in_entrance">
              </div>
            </div>
          </div>

          <div class="column is-12">
            <div class="field">
              <label class="label req">{{$t('Field.AuthorizedBy')}}</label>
              <div class="control">
                <el-select v-model="auth_by" :placeholder="$t('Button.Select')">
                  <el-option v-for="item in log_staff" :key="item.cs_person_id" :label="item.person_name" :value="item.cs_person_id">
                  </el-option>
                </el-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div v-show="isEdit == true" slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" @click="isEditVisible = false; resetEntryForm();" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-large is-primary" @click="checkEntryForm(person.status)">{{$t('Button.Save')}}</button>
      </div>
    </modal>

    <modal v-show="isAddVisible" @close="closeModal">
      <!-- Header -->
      <h4 slot="header">{{$t('Message.AddNewEntrant')}}</h4>
      <!-- Content -->
      <div slot="body">
        <div class="columns is-multiline">
          <div class="column is-4">
            <div class="field">
              <label class="label req">{{$t('Field.Status')}}</label>
              <div class="control">
                <el-select v-model="entry.status" :placeholder="$t('Button.Select')">
                  <el-option key="Leave" :label="$t('Button.Leave')" value="Leave"></el-option>
                  <el-option key="Here" :label="$t('Button.Here')" value="Here"></el-option>
                </el-select>
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="field">
              <label class="label req">{{$t('Field.LastName')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="entry.last_name" maxlength="20">
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="field">
              <label class="label req">{{$t('Field.FirstName')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="entry.first_name" maxlength="20">
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="field">
              <label class="label req">{{$t('Field.Type')}}</label>
              <div class="control">
                <el-select v-model="entry.person_type" value-key="code" :placeholder="$t('Button.Select')">
					<el-option
					  v-for="item in ddl_person_type"
					  :key="item.code"
					  :label="item.value"
					  :value="item">
					</el-option>
                </el-select>
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="field">
              <label class="label">{{$t('Field.Entrance')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="entry.entrance" maxlength="20">
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="field">
              <label class="label req">{{$t('Field.Date')}}</label>
              <div class="control">
                <el-date-picker v-model="entry.in_date" type="date" format="MM/dd/yyyy" prefix-icon="icon-rs-log-date" :placeholder="$t('Button.SelectDate')" :picker-options="dateValidation">
                </el-date-picker>
              </div>
            </div>
          </div>

          <div class="column is-4">
            <div class="field">
              <label class="label req">{{$t('Field.Time')}}</label>
              <div class="control">
                <el-time-picker arrow-control v-model="entry.in_time" value-format="HH:mm" format="HH:mm" prefix-icon="icon-rs-log-choosetime" :placeholder="$t('Button.SelectTime')">
                </el-time-picker>
              </div>
            </div>
          </div>

          <div class="column is-8">
            <div class="field">
              <label class="label req">{{$t('Field.AuthorizedBy')}}</label>
              <div class="control">
                <el-select v-model="entry.in_by" :placeholder="$t('Button.Select')">
                  <el-option v-for="item in log_staff" :key="item.cs_person_id" :label="item.person_name" :value="item.cs_person_id">
                  </el-option>
                </el-select>
              </div>
            </div>
          </div>

          <div class="column is-12">
            <div class="field">
              <label class="label req">{{$t('Field.ReasonforEntering')}}</label>
              <div class="control">
                <textarea class="textarea" placeholder="" v-model="entry.reason"></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- Footer -->
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" @click="closeModal" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-large is-primary" @click="checkEntrantForm">{{$t('Button.Save')}}</button>
      </div>
    </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
  import modal from '../parts/_Modal.vue';
  import moment from 'moment';

  export default {
    name: 'entrance',
    components: {
      modal,
    },
    data() {
      return {
	    statusList: [],
        isAddVisible: false,
        isEditVisible: false,
        type: 'staff',
		entry: [],
        cs_person_id: '',
		auth_by: [],
		reason: '',
		person_type: '',
		status: '',
		in_entrance: '',
		category_type: '',
		ddl_person_type: [],
		log_staff: [],
	    dateValidation: {
	      disabledDate(time) {
		    return time.getTime() > Date.now();
	      },
        },
	    isEdit: true
      };
    },
    methods: {
      showModal() {
	    this.getLookup();
        this.isAddVisible = true;
      },
      closeModal() {
        this.isAddVisible = false;
		this.resetEntrantForm();
      },
      editLog(id, type, status) {
        this.isEditVisible = true;
        this.cs_person_id = id;
		this.category_type = type;
		this.status = status;
	    this.getLookup();
      },
      isActive: function(val) {
        return this.type === val
      },
      setActive: function(val) {
        this.type = val
      },
      getEntranceStatusList() {
		var params = new URLSearchParams();
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
		params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));

		this.axios.post(this.$conf.API_URL + '/Entrance/GetEntranceStatusList', params)
		  .then((response) => {
			this.statusList = response.data
		  }).catch(error => {
			console.log(error);
		});
      },
      addEntrant() {
		var params = new URLSearchParams();
		params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
		params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('status', this.entry.status );
        params.append('first_name', this.entry.first_name );
        params.append('last_name', this.entry.last_name );
        params.append('person_type', this.entry.person_type.code );
        params.append('entrance', this.entry.entrance );
        params.append('datetime', moment(this.entry.in_date).format('M/D/YYYY') + ' ' + this.entry.in_time );
        params.append('auth_by', this.entry.in_by );
        params.append('reason', this.entry.reason );

		this.axios.post(this.$conf.API_URL + '/Entrance/AddEntrant', params)
		  .then((response) => {
			this.getEntranceStatusList();
			this.closeModal();
		  }).catch(error => {
			console.log(error);
		});
      },
	  addEntranceLog() {
		var params = new URLSearchParams();
		params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
		params.append('cs_person_id', this.cs_person_id);
		params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('status', (this.status == 'Here') ? 'leave' : 'here' );
        params.append('entrance', this.in_entrance );
        params.append('auth_by', this.auth_by );
        params.append('reason', this.reason );
        params.append('category_type', this.category_type );

		this.axios.post(this.$conf.API_URL + '/Entrance/AddEntranceLog', params)
		  .then((response) => {
			this.getEntranceStatusList();
			this.isEditVisible = false;
		  }).catch(error => {
			console.log(error);
		});
		this.resetEntryForm();
	  },
	  getLookup() {
	    this.axios.get(this.$conf.API_URL + '/Login/SyncLookupMulti?key=other_personnel_type,staff_type,contact_type'
		  ).then((response) => {
			this.ddl_person_type = response.data.content
		  }).catch(error => {
			console.log(error);
		});

		var params = new URLSearchParams();
		params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
	    this.axios.post(this.$conf.API_URL + '/Personnel/GetLogStaff', params
		  ).then((response) => {
			this.log_staff = response.data
		  }).catch(error => {
			console.log(error);
		});
	  },
	  checkEntrantForm() {
	    if(!this.entry.reason || !this.entry.last_name || !this.entry.first_name || !this.entry.in_date || !this.entry.in_time || !this.entry.in_by || !this.entry.person_type ) {
	      this.$message.error(this.$t('Message.RequiredField'));
		  return false;
	    }else{
		  this.addEntrant();
	    }
	  },
	  checkEntryForm(status) {
	    if( ((status != 'Here') && !this.reason ) || !this.auth_by ) {
	      this.$message.error(this.$t('Message.RequiredField'));
		  return false;
	    }else{
		  this.addEntranceLog();
	    }
	  },
	  resetEntrantForm() {
	    this.entry = []
	  },
	  resetEntryForm() {
	    this.reason = '',
		this.in_entrance = '',
		this.auth_by = []
	  }
    },
	beforeMount(){
	  this.checkAuth();
	  this.getEntranceStatusList();
	  this.staff_id = sessionStorage.getItem('staff_id');
	  this.isEdit = (sessionStorage.getItem('is_edit') == 'true') ? true : false;
	}
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
