<template>
  <div class="container">
    <header class="header">
      <div class="tabbar">

        <div class="tabbar-left">
          <div class="field">
            <div class="control">
              <el-input class="el-input__search" v-model="search" :placeholder="$t('Button.Search')" @keyup.native="filterText">
                <i slot="prefix" class="el-input__icon icon-rs-ub-search"></i>
                <i slot="suffix" v-show="search != ''" class="el-input__icon el-icon-circle-close" @click="resetQuery"></i>
              </el-input>
            </div>
          </div>
        </div>

        <div class="tabbar-center">
          <div class="tabs is-toggle is-large">
            <ul>
              <li class="is-active">
                <router-link :to="'/evidence/' + $route.params.cs_log_no">{{$t('Menu.All')}}</router-link>
              </li>
              <li>
                <router-link :to="'/evidence-category/' + $route.params.cs_log_no">{{$t('Menu.Category')}}</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div v-show="isEdit" class="tabbar-right btn-group">
          <router-line :to="'/evidence/' + $route.params.cs_log_no + '/edit'" class="button is-primary is-large" @click="showModal">{{$t('Button.Add')}}</router-line>
        </div>

      </div>
    </header>

    <main>
      <el-table :data="tableData" max-height="600" style="width: 100%" @row-click="editClick" ref="tableRef">
        <el-table-column :label="$t('Menu.Photo')" width="100">
          <template slot-scope="scope">
            <img :src="(scope.row.thumbnail == '') ? noImage : scope.row.thumbnail" alt="Image">
          </template>
          </el-table-column>
          <el-table-column
            prop="evid_no"
            sortable
            :label="$t('Field.EvidenceNo')"
            width="180">
          </el-table-column>
          <el-table-column
            prop="item_no"
            sortable
            :label="$t('Field.ItemNo')"
            width="100">
          </el-table-column>
          <el-table-column
            prop="category"
            sortable
            :label="$t('Field.Category')">
          </el-table-column>
          <el-table-column
            prop="item_brief_desc"
            :label="$t('Field.BriefDescription')">
          </el-table-column>
        </el-table>

        <div class="mt-3 has-text-centered">
          <el-pagination
            v-show="tableData.length > 0"
            layout="prev, pager, next"
            :total="tableData.length">
          </el-pagination>
        </div>

    </main>

    <!-- POPUP -->
      <modal v-show="idEditVisible" @close="closeModal" class="is-large">
        <!-- Header -->
        <h4 slot="header">{{ (act == 'add') ? $t('Message.AddEvidence') : $t('Message.UpdateEvidence') }}</h4>
        <!-- Content -->
        <div slot="body">
          <addeditevidence ref="evidForm"
            :act="act"
            v-on:evidUpdated="getEvidenceList"
            v-on:closeModal="closeModal">
          </addeditevidence>
        </div>
      </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
  import modal from '../parts/_Modal.vue';
  import addeditevidence from '../parts/_AddEditEvidence.vue';
  import {
    searchMixin
  } from '../mixins/search'
  import noImage from '../../../static/noimage.png';

  export default {
    name: 'evidence',
    components: {
      modal,
      addeditevidence,
    },
    data() {
      return {
        act: 'add',
        options: [],
        search: '',
        tableData: [],
        idEditVisible: false,
		noImage: noImage,
	    isEdit: true
      };
    },
    methods: {
      showModal() {
        this.act = 'add';
        this.$refs.evidForm.resetForm();
        this.idEditVisible = true;
      },
      closeModal() {
        this.idEditVisible = false;
      },
      getEvidenceList() {
        this.idEditVisible = false;

        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Evidence/GetEvidenceList', params)
          .then((response) => {
            this.tableData = response.data
          }).catch(error => {
            console.log(error);
          });
      },
      editClick(row) {
        this.act = 'update';
        this.$refs.evidForm.resetForm();
        this.$refs.evidForm.getEvidenceInfo(row.cs_item_id);
        this.idEditVisible = true;
      },
    },
    beforeMount() {
	  this.checkAuth();
      this.getEvidenceList();
	  this.isEdit = (sessionStorage.getItem('is_edit') == 'true') ? true : false;
    },
    mixins: [searchMixin]
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
