<template>
  <div class="container">
    <header class="header">
      <div class="tabbar">

        <div class="tabbar-center">
          <div class="tabs is-toggle is-large">
            <ul>
              <li>
                <router-link :to="'/evidence/' + $route.params.cs_log_no">{{$t('Menu.All')}}</router-link>
              </li>
              <li class="is-active">
                <router-link :to="'/evidence-category/' + $route.params.cs_log_no">{{$t('Menu.Category')}}</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="tabbar-right btn-group">
          <router-line :to="'/evidence-category/' + $route.params.cs_log_no + '/edit'" class="button is-primary is-large" @click="showModal">{{$t('Button.Add')}}</router-line>
        </div>

      </div>
    </header>

    <main>

        <section v-for="list in lists" class="mb-2">
          <input type="checkbox" checked :id="list.category" class="accordion">
          <label :for="list.category"><span>{{list.category}} ({{list.evid.length}})</span></label>
          <article>
            <div class="photo">
              <div class="photo__item" v-for="evid in list.evid" @click="editClick(evid.cs_item_id)">
                <i class="photo__icon icon-rs-log-linkcase"></i>
                <div class="photo__content">
                  <img :src="(evid.thumbnail == '') ? noImage : evid.thumbnail" alt="Photo">
                </div>
                <div class="photo__content-text">{{evid.item_no}}</div>
              </div>
            </div>
          </article>
        </section>

    </main>

    <!-- POPUP -->
      <modal v-show="idEditVisible" @close="closeModal" class="is-large">
        <!-- Header -->
        <h4 slot="header">{{ (act == 'add') ? $t('Message.AddEvidence') : $t('Message.UpdateEvidence') }}</h4>
        <!-- Content -->
        <div slot="body">
          <addeditevidence ref="evidForm"
            :act="act"
            v-on:evidUpdated="getEvidenceList"
            v-on:closeModal="closeModal">
          </addeditevidence>
        </div>
      </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
  import modal from '../parts/_Modal.vue';
  import addeditevidence from '../parts/_AddEditEvidence.vue';
  import noImage from '../../../static/noimage.png';

  export default {
    name: 'evidence-category',
    components: {
      modal,
      addeditevidence
    },
    data() {
      return {
        act: 'add',
        idEditVisible: false,
        lists: [],
		noImage: noImage
      };
    },
	methods: {
      showModal() {
        this.act = 'add';
        this.$refs.evidForm.resetForm();
        this.idEditVisible = true;
      },
	  getEvidenceList() {
        this.idEditVisible = false;

		var distinct = [];
		var row = [];
        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Evidence/GetEvidenceList', params)
          .then((response) => {
            row = response.data

			for(var i=0; i<row.length; i++ ) {
				if(!distinct.includes(row[i].category)){
					this.lists.push({category: row[i].category, evid:[{ cs_item_id: row[i].cs_item_id, item_no: row[i].item_no, thumbnail: row[i].thumbnail }]});
					distinct.push(row[i].category);
				}else{
					this.lists[distinct.length-1].evid.push({ item_no: row[i].item_no, thumbnail: row[i].thumbnail });
				}
			}
          }).catch(error => {
            console.log(error);
        });
	  },
      closeModal() {
        this.idEditVisible = false;
      },
      editClick(cs_item_id) {
        this.act = 'update';
        this.$refs.evidForm.resetForm();
        this.$refs.evidForm.getEvidenceInfo(cs_item_id);
        this.idEditVisible = true;
      }
	},
    beforeMount() {
	  this.checkAuth();
      this.getEvidenceList();
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
