<template>
  <div class="container">
    <header class="header">
      <div class="tabbar">

        <div class="tabbar-center">
          <div class="tabs is-toggle is-large">
            <ul>
              <li>
                <router-link :to="'/log/' + $route.params.cs_log_no" class="">{{$t('Menu.About')}}</router-link>
              </li>
              <li class="is-active">
                <router-link :to="'/personnel/' + $route.params.cs_log_no" class="">{{$t('Menu.Personnel')}} ({{ this.lists[0].person_lite_list.length + this.lists[1].person_lite_list.length }})</router-link>
              </li>
            </ul>
          </div>
        </div>

        <div class="tabbar-right">
          <button v-show="isEdit" class="button is-primary is-large" @click="showAddModal">{{$t('Button.Add')}}</button>
        </div>

      </div>
    </header>

    <main>

      <section v-for="list in lists" class="mb-2">
        <input type="checkbox" checked :id="list.type" class="accordion">
        <label :for="list.type"><span></span>{{ list.type }}</label>
        <article>
          <div class="cards">
            <div class="card" v-for="person in list.person_lite_list" @click="getPersonnelInfo(person.cs_person_id, list.type)">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img :src="(person.photo =='') ? avatar : person.photo" alt="Avatar">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{person.person_name}}</p>
                    <p class="subtitle is-5">{{person.person_type}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>

    </main>

    <!-- POPUP -->
    <modal v-show="isAddVisible" @close="closeAddModal">
      <!-- Header -->
      <h4 slot="header">{{$t('Message.AddPersonnel')}}</h4>
      <!-- Content -->
      <div slot="body">
        <div class="tabs is-centered is-boxed is-medium is-fullwidth">
          <ul>
            <li :class="{ 'is-active': isActive('staff') }"><a @click="setActive('staff')">{{$t('Menu.Staff')}}</a></li>
            <li :class="{ 'is-active': isActive('other') }"><a @click="setActive('other')">{{$t('Menu.OtherPersonnel')}}</a></li>
          </ul>
        </div>

        <form role="form" method="post">
          <div class="columns is-multiline">

            <div class="column is-12">
              <div class="field">
                <label class="label">{{$t('Field.BadgeNo')}}</label>
                <div class="control">
                  <input class="input" type="text" v-model="person.badge_no" maxlength="15">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label req">{{$t('Field.LastName')}}</label>
                <div class="control">
                  <input class="input" type="text" v-model="person.last_name" maxlength="20">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label req">{{$t('Field.FirstName')}}</label>
                <div class="control">
                  <input class="input" type="text" v-model="person.first_name" maxlength="20">
                </div>
              </div>
            </div>

            <div class="column is-12">
              <div class="field">
                <label class="label req">{{$t('Field.Type')}}</label>
                <div class="control">

                  <el-select v-model="obj_person_type" value-key="code" :placeholder="$t('Button.Select')">
                    <el-option v-for="item in ddl_person_type" :key="item.code" :label="item.value" :value="item">
                    </el-option>
                  </el-select>

                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">{{$t('Field.Agency')}}</label>
                <div class="control">
                  <input class="input" type="text" v-model="person.agency" maxlength="20">
                </div>
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                <label class="label">{{$t('Field.PhoneNo')}}</label>
                <div class="control">
                  <input class="input" type="tel" v-model="person.phone" maxlength="20">
                </div>
              </div>
            </div>

          </div>
        </form>


      </div>
      <!-- Footer -->
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" @click="closeAddModal" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-large is-primary" @click="checkForm('add')">{{$t('Button.Save')}}</button>
      </div>
    </modal>

    <modal v-show="isEditVisible" @close="closeEditModal" class="is-large">
      <!-- Header -->
      <h4 slot="header">{{$t('Message.UpdatePersonnel')}}</h4>
      <!-- Content -->
      <div slot="body">
        <form role="form" method="post">
          <div class="columns">
            <div class="column is-one-third">

              <div class="file is-fullwidth">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume" @change="fileChanged" accept="image/*">
                  <div class="avatar-uploader">
                    <img v-if="photo" :src="photo" class="avatar">
                    <i v-else class="icon-rs-add avatar-uploader-icon"></i>
                  </div>
        		</label>
              </div>

            </div>

            <div class="column">
              <div class="columns is-multiline">

                <div class="column is-6">
                  <div class="field">
                    <label class="label">{{$t('Field.BadgeNo')}}</label>
                    <div class="control">
                      <input class="input" type="text" v-model="person.badge_no" maxlength="15">
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label req">{{$t('Field.Type')}}</label>
                    <div class="control">
                      <el-select v-model="obj_person_type" value-key="code" :placeholder="$t('Button.Select')">
                        <el-option v-for="item in ddl_person_type" :key="item.code" :label="item.value" :value="item">
                        </el-option>
                      </el-select>
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label req">{{$t('Field.LastName')}}</label>
                    <div class="control">
                      <input class="input" type="text" v-model="person.last_name" maxlength="20">
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label req">{{$t('Field.FirstName')}}</label>
                    <div class="control">
                      <input class="input" type="text" v-model="person.first_name" maxlength="20">
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label">{{$t('Field.Agency')}}</label>
                    <div class="control">
                      <input class="input" type="text" v-model="person.agency" maxlength="20">
                    </div>
                  </div>
                </div>

                <div class="column is-6">
                  <div class="field">
                    <label class="label">{{$t('Field.PhoneNo')}}</label>
                    <div class="control">
                      <input class="input" type="text" v-model="person.phone" maxlength="20">
                    </div>
                  </div>
                </div>

                <div class="column is-12">
                  <div class="field">
                    <label class="label">{{$t('Menu.EntranceLog')}}</label>

                    <div v-for="log in person.entry_log" class="columns">
                      <div class="column is-6">
                        <span class="entryinfo">
                                <i class="icon icon-rs-entrylog-out is-size-3 has-text-primary"></i>
                                {{ log.in_datetime }}
                              </span>
                      </div>

                      <div class="column is-6">
                        <span class="entryinfo">
                                <i class="icon icon-rs-entrylog-out is-size-3 has-text-grey-lighter"></i>
                                {{ log.out_datetime }}
                          </span>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </form>

      </div>
      <!-- Footer -->
      <div v-show="isEdit" slot="footer" class="btn-group has-text-centered">
        <button class="button is-tertiary is-large" @click="showDeleteModal" aria-label="Delete" v-show="person.is_owner == 0">{{$t('Button.Delete')}}</button>
        <button class="button is-large is-primary" @click="checkForm('update')">{{$t('Button.Save')}}</button>
      </div>
    </modal>


    <modal v-show="isDeleteVisible" @close="closeDeleteModal">
      <div slot="body">
        <p class="title is-size-4 has-text-centered">{{$t('Message.ConfirmDeletePersonnel')}} {{ person.first_name }}, {{ person.last_name }}?</p>
      </div>
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" @click="closeDeleteModal" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-tertiary is-large" @click="deletePersonnel">{{$t('Button.Delete')}}</button>
      </div>
    </modal>

    <!-- POPUP END -->

  </div>
</template>

<script>
  import modal from '../parts/_Modal.vue';
  import avatar from '../../../static/avatar.png';

  export default {
    name: 'personnel',
    components: {
      modal,
    },
    data() {
      return {
        options: ['All', 'Staff', 'Other'],
        lists: [],
        isAddVisible: false,
        isEditVisible: false,
        isDeleteVisible: false,
        type: 'staff',
        person: [],
        photo: '',
        obj_person_type: [],
        ddl_person_type: [],
        formData: new FormData(),
        avatar: avatar,
	    isEdit: true
      };
    },
    methods: {
      showAddModal() {
        this.resetForm();
        this.isAddVisible = true;
      },
      closeAddModal() {
        this.isAddVisible = false;
      },
      showEditModal() {
        this.resetForm();
        this.isEditVisible = true;
      },
      closeEditModal() {
        this.isEditVisible = false;
      },
      showDeleteModal() {
        this.isDeleteVisible = true;
      },
      closeDeleteModal() {
        this.isDeleteVisible = false;
      },
      isActive: function(val) {
        return this.type === val;
      },
      setActive: function(val) {
        this.setLookup(val);
        this.type = val;
      },
      fileChanged(e) {
        this.formData.append('file', e.target.files[0]);
        this.photo = window.URL.createObjectURL(e.target.files[0]);
      },
      getPersonnelList() {
        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Personnel/GetPersonnelList', params)
          .then((response) => {
            this.lists = response.data
          }).catch(error => {
            console.log(error);
          });
      },
      addPersonnel() {
        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id') );
        params.append('staff_id', sessionStorage.getItem('staff_id') );
        params.append('token', sessionStorage.getItem('token'));
        params.append('cs_person_id', this.person.cs_person_id );
        params.append('category_type', this.type );
        params.append('person_type', this.obj_person_type.code );
        params.append('first_name', this.person.first_name );
        params.append('last_name', this.person.last_name );
        params.append('agency', (!this.person.agency) ? '' : this.person.agency );
        params.append('badge_no', (!this.person.badge_no) ? '' : this.person.badge_no );
        params.append('phone', (!this.person.phone) ? '' : this.person.phone );

        this.axios.post(this.$conf.API_URL + '/Personnel/AddPersonnel', params)
          .then((response) => {
            this.closeAddModal();
            this.getPersonnelList();
          }).catch(error => {
            console.log(error);
          });
      },
      updatePersonnel() {
        this.formData.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        this.formData.append('staff_id', sessionStorage.getItem('staff_id'));
        this.formData.append('token', sessionStorage.getItem('token'));
        this.formData.append('cs_person_id', this.person.cs_person_id);
        this.formData.append('category_type', this.person.category_type);
        this.formData.append('person_type', this.obj_person_type.code);
        this.formData.append('first_name', this.person.first_name);
        this.formData.append('last_name', this.person.last_name);
        this.formData.append('agency', (!this.person.agency) ? '' : this.person.agency );
        this.formData.append('badge_no', (!this.person.badge_no) ? '' : this.person.badge_no );
        this.formData.append('phone', (!this.person.phone) ? '' : this.person.phone );

        this.axios.post(this.$conf.API_URL + '/Personnel/UpdatePersonnel', this.formData)
          .then((response) => {
            this.getPersonnelList();
            this.closeEditModal();
          }).catch(error => {
            console.log(error);
          });
      },
      getPersonnelInfo(cs_person_id, category_type) {
        this.showEditModal();
        this.person.cs_person_id = cs_person_id;
        this.person.category_type = category_type;

        var params = new URLSearchParams();
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('cs_person_id', cs_person_id);
        params.append('category_type', category_type);

        this.axios.post(this.$conf.API_URL + '/Personnel/GetPersonnelInfo', params)
          .then((response) => {
            this.person = response.data;
            this.obj_person_type = response.data.obj_person_type;
            this.photo = response.data.photo;
            this.setLookup(this.person.category_type);
          }).catch(error => {
            console.log(error);
        });

        this.axios.post(this.$conf.API_URL + '/Entrance/GetStaffEntrance', params)
          .then((response) => {
            this.person.entry_log = response.data
          }).catch(error => {
            console.log(error);
        });
      },
      deletePersonnel() {
        var params = new URLSearchParams();
        params.append('cs_person_id', this.person.cs_person_id);
        params.append('category_type', this.person.category_type);
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Personnel/DeletePersonnel', params)
          .then((response) => {
            this.closeDeleteModal();
            this.closeEditModal();
            this.getPersonnelList();
          }).catch(error => {
            console.log(error);
          });
      },
      setLookup(type) {
        var lookup = (type.toLowerCase() == 'staff') ? 'staff_type' : 'other_personnel_type';
        this.getLookup(lookup);
      },
      getLookup(lookup) {
        this.axios.get(this.$conf.API_URL + '/Login/SyncLookup?key=' + lookup).then((response) => {
          this.ddl_person_type = response.data[0].content
        }).catch(error => {
          console.log(error);
        });
      },
      resetForm() {
        this.person = [];
        this.obj_person_type = [];
        this.photo = '';
        this.formData = new FormData();
      },
      checkForm(act) {
        if (!this.person.first_name || !this.person.last_name || !this.obj_person_type.code) {
          this.$message.error(this.$t('Message.RequiredField'));
          return false;
        } else {
          if (act == 'add')
            this.addPersonnel();
          else
            this.updatePersonnel();
        }
      }
    },
    beforeMount() {
	  this.checkAuth();
      this.getPersonnelList();
      this.setLookup(this.type);
	  this.isEdit = (sessionStorage.getItem('is_edit') == 'true') ? true : false;
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
