<template>
  <div class="container">
    <header class="header">
      <div class="tabbar is-between">

        <div class="tabbar-center">
          <div class="tabs is-toggle is-large">
            <ul>
              <li :class="{ 'is-active': isActive('photo') }"><a @click="setActive('photo')">{{$t('Menu.Photo')}} ({{count.photo_count}})</a></li>
              <li :class="{ 'is-active': isActive('video') }"><a @click="setActive('video')">{{$t('Menu.Video')}} ({{count.video_count}})</a></li>
              <li :class="{ 'is-active': isActive('tag') }"><a @click="setActive('tag')">{{$t('Menu.Tags')}}</a></li>
              <li :class="{ 'is-active': isActive('deleted') }"><a @click="setActive('deleted')">{{$t('Menu.Deleted')}} ({{count.deleted_count}})</a></li>
            </ul>
          </div>
        </div>

        <div v-show="isEdit" class="tabbar-right">
          <div class="file is-large is-primary">
            <label class="file-label">
      			  <input class="file-input" type="file" name="resume" @change="addMediaToServer" multiple>
      				<span class="file-cta">
      				  <span class="file-label">{{$t('Button.Add')}}</span>
      				</span>
      			  </label>
          </div>
          <button class="button is-primary is-large" @click="clickPhoto">{{$t('Button.Select')}}</button>
        </div>

      </div>
    </header>

    <main>
      <div v-if="tab == 'photo'" class="photo">
        <div v-for="photo in photos" class="photo__item">
          <i v-if="photo.is_Linked == '1'" class="photo__icon icon-rs-log-linkcase"></i>
          <div class="photo__content" @click="getMediaInfo(photo.cs_media_id)">
            <img :src="photo.file_api" alt="photo">
          </div>
        </div>
      </div>

      <div v-else-if="tab == 'video'" class="video">
        <div v-for="video in videos" class="video__item">
          <i v-if="video.is_Linked == '1'" class="video__icon icon-rs-log-linkcase"></i>
          <div class="video__content" @click="getMediaInfo(video.cs_media_id)">
            <img :src="video.file_api" alt="video">
          </div>
        </div>
      </div>

      <div v-else-if="tab == 'tag'">
        <section v-for="tag in tags" class="mb-2">
          <input type="checkbox" :id="tag.tag" class="accordion">
          <label :for="tag.tag"><span>{{tag.tag}} ({{tag.media.length}})</span></label>
          <article>
            <div class="photo">
              <div v-for="cont in tag.media" class="photo__item">
                <i v-if="cont.is_Linked == '1'" class="photo__icon icon-rs-log-linkcase"></i>
                <div class="photo__content" @click="getMediaInfo(cont.cs_media_id)">
                  <img :src="cont.file_api" alt="photo">
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>

      <div v-else-if="tab == 'deleted'" class="photo">
        <div v-for="del in deletes" class="photo__item">
          <div class="photo__content" @click="getMediaInfo(del.cs_media_id)">
            <img :src="del.file_api" alt="photo">
          </div>
        </div>
      </div>
    </main>

    <!-- POPUP -->
    <modal v-show="selectModal" @close="selectModal = !selectModal;" class="is-hd">
      <!-- Header -->
      <!-- Content -->
      <div slot="body">
        <remotephotos ref="photoForm"
        :resetChecked="checkedItems"
        :resetPaths="checkedPaths"
        @selectedItems="checkedItems = $event"></remotephotos>
      </div>
      <!-- Footer -->
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large is-tertiary" @click="msgModal = !msgModal" aria-label="Cancel">{{$t('Button.Delete')}}</button>
        <button class="button is-large is-primary" v-show="tab == 'deleted'" @click="recoverMedia">{{$t('Button.Recover')}}</button>
        <button class="button is-large is-primary" v-show="tab != 'deleted'" @click="openAddTag">{{$t('Button.AddTag')}}</button>
      </div>
    </modal>

    <modal v-show="editModal" @close="editModal = !editModal; media.file_api='';" class="is-hd">
      <!-- Header -->
      <h4 slot="header" v-if="media_type == 'video'">{{$t('Message.UpdateVideo')}}</h4>
      <h4 slot="header" v-if="media_type != 'video'">{{$t('Message.UpdatePhoto')}}</h4>
      <!-- Content -->
      <div slot="body">
        <div class="columns">
          <div v-if="media_type == 'video'" class="column">
            <video :src="video_path" controls></video>
          </div>
          <div v-else="media_type != 'video'" class="column">
            <img :src="media.file_api" alt="photo">
          </div>

          <div class="column is-one-third">
            <div class="columns is-multiline">

              <div class="column is-12">
                <div class="field">
                  <label class="label">{{$t('Menu.Tags')}}</label>
                  <div class="control">
                    <el-select v-model="tagval" multiple filterable allow-create default-first-option :placeholder="$t('Message.SelectTags')">
                      <el-option v-for="item in historyTag" :key="item.value" :label="item.label" :value="item.value">
                      </el-option>
                    </el-select>
                  </div>
                </div>
              </div>

              <div class="column is-12">
                <div class="field">
                  <label class="label">{{$t('Field.LinkInfo')}}</label>
                  <div class="control">
                    <p class="subtitle is-4"><i class="icon-rs-bar-evidence"></i> {{ media.str_link }}</p>
                  </div>
                </div>
              </div>

              <div class="column is-12">
                <div class="field">
                  <label class="label">{{$t('Field.Description')}}</label>
                  <div class="control">
                    <textarea class="textarea" placeholder="" ref="note" v-model="media.media_description"></textarea>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div v-show="isEdit" slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" v-if="media.str_link != ''" @click="editModal = !editModal; media.file_api='';" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-tertiary is-large" v-if="media.str_link == ''" @click="msgModal = true">{{$t('Button.Delete')}}</button>
        <button class="button is-large is-primary" @click="updateMedia">{{$t('Button.Save')}}</button>
      </div>
    </modal>

    <modal v-show="addTagModal" @close="addTagModal = !addTagModal" class="is-small">
      <!-- Header -->
      <h4 slot="header">{{$t('Message.AddTags')}}</h4>
      <!-- Content -->
      <div slot="body">
        <div class="field">
          <div class="control">
            <el-select v-model="tagval" multiple filterable allow-create default-first-option :placeholder="$t('Message.InputTags')">
              <el-option v-for="item in historyTag" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" @click="addTagModal = !addTagModal" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-large is-primary" @click="addTagToMedia">{{$t('Button.Save')}}</button>
      </div>
    </modal>

    <modal v-show="msgModal" @close="msgModal = !msgModal" class="is-small">
      <!-- Header -->
      <!-- Content -->
      <div slot="body">
        <p class="title is-size-4 has-text-centered">{{$t('Message.ConfirmDeleteMedia')}}</p>
      </div>
      <!-- Footer -->
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" @click="msgModal = !msgModal" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-large is-tertiary" @click="deleteMedia">{{$t('Button.Delete')}}</button>
      </div>
    </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
  import modal from '../parts/_Modal.vue';
  import remotephotos from '../parts/_RemotePhotos.vue';

  export default {
    name: 'photo-video',
    components: {
      modal,
      remotephotos,
    },
    data() {
      return {
        selectModal: false,
        editModal: false,
        addTagModal: false,
        msgModal: false,
        tagval: [],
        historyTag: [],
        photos: [],
        videos: [],
        tags: [],
        deletes: [],
        count: [],
        media: [],
        tab: 'photo',
		media_type: '',
		video_path: '',
        checkedItems: [],
        checkedPaths: [],
        formData: new FormData(),
	    isEdit: true
      };
    },
    methods: {
      isActive: function(val) {
        return this.tab === val
      },
      setActive: function(val) {
        this.tab = val // no need for Vue.set()
        this.switchTab(val);
      },
      showSelectModal() {
        this.selectModal = true
      },
      addMediaToServer(e) {

        for (var i = 0; i < e.target.files.length; i++) {
          this.formData.append('file', e.target.files[i])
        }
        this.formData.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        this.formData.append('staff_id', sessionStorage.getItem('staff_id'));
        this.formData.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Media/AddMediaToServer', this.formData)
          .then((response) => {
            this.switchTab(this.tab);
		    this.formData = new FormData();
          }).catch(error => {
            console.log(error);
          });
      },
      addTagToMedia() {
        var params = new URLSearchParams();
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('cs_media_list', this.checkedItems);
        params.append('tag_list', this.tagval);

        this.axios.post(this.$conf.API_URL + '/Media/AddTagToMedia', params)
          .then((response) => {
            this.selectModal = false;
            this.addTagModal = false;
          }).catch(error => {
            console.log(error);
          });
      },
      getMediaByTag() {
        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Media/GetMediaByTag', params)
          .then((response) => {
            this.tags = response.data
          }).catch(error => {
            console.log(error);
          });
      },
      getMediaList(type) {

        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('type', type);

        this.axios.post(this.$conf.API_URL + '/Media/GetMediaList', params)
          .then((response) => {

            switch (type) {
              case 'Video':
                this.videos = response.data.media_data
                break;
              case 'Deleted':
                this.deletes = response.data.media_data
                break;
              default:
                this.photos = response.data.media_data
                break;
            }
            this.count = response.data.media_count;
          }).catch(error => {
            console.log(error);
          });
      },
      getMediaInfo(cs_media_id) {
        this.editModal = true;

        var params = new URLSearchParams();
        params.append('cs_media_id', cs_media_id);
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Media/GetMediaInfo', params)
          .then((response) => {
            this.media = response.data;
            this.tagval = (this.media.str_tag == '') ? [] : this.media.str_tag.split(',');
			this.media_type = this.media.media_type.substring(0,5);
			if(this.media_type == 'video') this.video_path = this.media.file_api;
          }).catch(error => {
            console.log(error);
          });
      },
      updateMedia(cs_media_id) {
        var params = new URLSearchParams();
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('cs_media_id', this.media.cs_media_id);
        params.append('tags', this.tagval);
        params.append('media_description', this.media.media_description);

        this.axios.post(this.$conf.API_URL + '/Media/UpdateMedia', params)
          .then((response) => {
            this.editModal = false;
          }).catch(error => {
            console.log(error);
          });
      },
      deleteMedia() {
        var path;
        var params = new URLSearchParams();
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        if (this.selectModal) {
          params.append('cs_media_id', this.checkedItems);
        } else {
          params.append('cs_media_id', this.media.cs_media_id);
        }

        if (this.tab == 'deleted') {
          path = this.$conf.API_URL + '/Media/DeleteMedia';
        } else {
          path = this.$conf.API_URL + '/Media/TempDeleteMedia';
        }

        this.axios.post(path, params)
          .then((response) => {

            this.msgModal = false;
            this.editModal = false;
            this.selectModal = false;
            this.switchTab(this.tab);
          }).catch(error => {
            console.log(error);
        });
      },
      recoverMedia() {
        var params = new URLSearchParams();
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('cs_media_id', this.checkedItems);

        this.axios.post(this.$conf.API_URL + '/Media/RecoverMedia', params)
          .then((response) => {
            this.selectModal = false;
            this.switchTab(this.tab);
          }).catch(error => {
            console.log(error);
          });
      },
      switchTab(tab) {
        switch (tab) {
          case 'tag':
            this.getMediaByTag();
            break;
          case 'video':
            this.getMediaList('Video');
            break;
          case 'deleted':
            this.getMediaList('Deleted');
            break;
          default:
            this.getMediaList('Photo');
            break;
        }
      },
      getPersonHistoryTag() {
        var params = new URLSearchParams();
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        this.axios.post(this.$conf.API_URL + '/Media/GetPersonHistoryTag', params)
          .then((response) => {
            this.historyTag = response.data
          }).catch(error => {
            console.log(error);
        });
      },
      openAddTag() {
        this.addTagModal = true;

        var params = new URLSearchParams();
        params.append('cs_media_id', this.checkedItems);
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        this.axios.post(this.$conf.API_URL + '/Media/GetMediaUnionTag', params)
          .then((response) => {
            this.tagval = (response.data == '') ? [] : response.data.split(',');
          }).catch(error => {
            console.log(error);
          });
      },
	  clickPhoto() {
	    this.checkedItems = [];
		this.selectModal = !this.selectModal;
	    this.$refs.photoForm.getMediaList(this.tab);
	  }
    },
    beforeMount() {
	  this.checkAuth();
      this.getMediaList('Photo');
      this.getPersonHistoryTag();
	  this.isEdit = (sessionStorage.getItem('is_edit') == 'true') ? true : false;
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
