
/* This Css is for small mobile */

@media (max-width: 767px) {
    .container { 
        width: 100%; 
    }
    .container:before, .container:after, 
    .nav:before, .nav:after, 
    .navbar:before, .navbar:after, 
    .navbar-header:before, .navbar-header:after {
        display: initial;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 60px;
        text-align: center;
        background-color: rgba(255, 255, 255, .9);
    }
    .navbar-brand, .navbar-brand-scroll { 
        margin-top: 7px; 
        margin-left: 15px;
    }

    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
    .iphone {
        float: none;
        text-align: center;
    }
    .about_phone {
        text-align: center;
    }
    .video {
        padding-top: 50px;
    }
    .video-button {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .fun_facts .section_overlay {
        background: #1a1a1a;
    }
    .fun_facts .d-flex, .feature_content .d-flex{
        display: block !important;
    }
    .fun_facts .d-flex .m-2{
        margin: 0 0 1em !important;
    }
    .fun_facts .d-flex .img-bottom{
        position: relative;
    }
    .feature_content .d-flex > div {
        margin-bottom: 3em;
    }

    .feaborded:before {
        width: 0;
    }
    .feature_inner img{
        width: 100%;
    }
    .copyright h4 {
        margin-top: 2em;
    }
    .popup {
        max-width: 90%;
    }
    #PRICE h2 {
        top: -10px;
        left: 36%;
    }
    .price_area.base h2 {
        left: 30% !important;
    }
    .price_area {
        padding: 0;
    }
    .price_area .area, .price_area.base .area {
        margin: 0;
    }
    .area {
        height: 35px;
    }
    .bubble {
        height: 20px;
    }
}
/* This Css is for tablet */

@media (min-width: 760px) {
    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
    .iphone {
        float: none;
        text-align: center;
    }
    .about_phone {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .video-button {
        text-align: center;
    }
    .single_fun_facts {
        padding-bottom: 60px;
    }
    .video {
        padding-top: 50px;
    }
}
/* This Css is for Medium Deviced */

@media (min-width: 992px) {
    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
    }
    .single_fun_facts {
        padding-bottom: 0px;
    }
    .video {
        padding-top: 00px;
    }
}
/* This Css is for large Deviced */

@media (min-width: 1200px) {
    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
    }
    .video {
        padding-top: 0px;
    }
}
