@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ajqphf');
  src:  url('fonts/icomoon.eot?ajqphf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ajqphf') format('truetype'),
    url('fonts/icomoon.woff?ajqphf') format('woff'),
    url('fonts/icomoon.svg?ajqphf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e941";
}
.icon-chevron-thin-up:before {
  content: "\e942";
}
.icon-chevron-up:before {
  content: "\e94d";
}
.icon-upload-to-cloud:before {
  content: "\e94e";
}
.icon-attachment:before {
  content: "\e94f";
}
.icon-box:before {
  content: "\e950";
}
.icon-calendar:before {
  content: "\e951";
}
.icon-camera:before {
  content: "\e952";
}
.icon-cycle:before {
  content: "\e953";
}
.icon-export:before {
  content: "\e954";
}
.icon-eye:before {
  content: "\e955";
}
.icon-globe:before {
  content: "\e956";
}
.icon-key:before {
  content: "\e957";
}
.icon-mail:before {
  content: "\e943";
}
.icon-map:before {
  content: "\e944";
}
.icon-old-phone:before {
  content: "\e945";
}
.icon-reply:before {
  content: "\e958";
}
.icon-share-alternitive:before {
  content: "\e959";
}
.icon-rs-group:before {
  content: "\e95a";
}
.icon-sharing:before {
  content: "\e94c";
}
.icon-integratio:before {
  content: "\e946";
}
.icon-kb:before {
  content: "\e947";
}
.icon-objects:before {
  content: "\e948";
}
.icon-photograph:before {
  content: "\e949";
}
.icon-physical:before {
  content: "\e94a";
}
.icon-report:before {
  content: "\e94b";
}
.icon-rs-add:before {
  content: "\e900";
}
.icon-rs-arrow-down:before {
  content: "\e901";
}
.icon-rs-arrow-right:before {
  content: "\e902";
}
.icon-rs-bar-entrylog:before {
  content: "\e903";
}
.icon-rs-bar-evidence:before {
  content: "\e904";
}
.icon-rs-bar-info:before {
  content: "\e905";
}
.icon-rs-bar-party:before {
  content: "\e906";
}
.icon-rs-bar-photo:before {
  content: "\e907";
}
.icon-rs-cardreader:before {
  content: "\e908";
}
.icon-rs-circle-delete:before {
  content: "\e909";
}
.icon-rs-circle-select:before {
  content: "\e90a";
}
.icon-rs-delete_1:before {
  content: "\e90b";
}
.icon-rs-delete:before {
  content: "\e90c";
}
.icon-rs-downcase-search:before {
  content: "\e90d";
}
.icon-rs-edit:before {
  content: "\e90e";
}
.icon-rs-entrylog-in:before {
  content: "\e90f";
}
.icon-rs-entrylog-otherperson:before {
  content: "\e910";
}
.icon-rs-entrylog-out:before {
  content: "\e911";
}
.icon-rs-entrylog-staff:before {
  content: "\e912";
}
.icon-rs-kb-zoomin:before {
  content: "\e913";
}
.icon-rs-kb-zoomout:before {
  content: "\e914";
}
.icon-rs-loading:before {
  content: "\e915";
}
.icon-rs-log-choosedate:before {
  content: "\e916";
}
.icon-rs-log-choosetime:before {
  content: "\e917";
}
.icon-rs-log-county:before {
  content: "\e918";
}
.icon-rs-log-date:before {
  content: "\e919";
}
.icon-rs-log-form:before {
  content: "\e91a";
}
.icon-rs-log-humidity:before {
  content: "\e91b";
}
.icon-rs-log-linkcase:before {
  content: "\e91c";
}
.icon-rs-log-location:before {
  content: "\e91d";
}
.icon-rs-log-muni:before {
  content: "\e91e";
}
.icon-rs-log-note:before {
  content: "\e91f";
}
.icon-rs-log-scan:before {
  content: "\e920";
}
.icon-rs-log-sharefrom:before {
  content: "\e921";
}
.icon-rs-log-temperature:before {
  content: "\e922";
}
.icon-rs-log-time:before {
  content: "\e923";
}
.icon-rs-log-type:before {
  content: "\e924";
}
.icon-rs-login-lock:before {
  content: "\e925";
}
.icon-rs-login-user:before {
  content: "\e926";
}
.icon-rs-login-view:before {
  content: "\e927";
}
.icon-rs-longarrow-left:before {
  content: "\e928";
}
.icon-rs-longarrow-right:before {
  content: "\e929";
}
.icon-rs-party-default:before {
  content: "\e92a";
}
.icon-rs-photo-add:before {
  content: "\e92b";
}
.icon-rs-photo-default:before {
  content: "\e92c";
}
.icon-rs-refresh:before {
  content: "\e92d";
}
.icon-rs-ring:before {
  content: "\e92e";
}
.icon-rs-select:before {
  content: "\e92f";
}
.icon-rs-setting-autosync:before {
  content: "\e930";
}
.icon-rs-setting-largefile:before {
  content: "\e931";
}
.icon-rs-setting-linkbarcode:before {
  content: "\e932";
}
.icon-rs-setting-linkcamera:before {
  content: "\e933";
}
.icon-rs-setting-realtime:before {
  content: "\e934";
}
.icon-rs-setting-tip:before {
  content: "\e935";
}
.icon-rs-tab-btn:before {
  content: "\e936";
}
.icon-rs-top-download:before {
  content: "\e937";
}
.icon-rs-top-kb:before {
  content: "\e938";
}
.icon-rs-top-menu:before {
  content: "\e939";
}
.icon-rs-top-sync:before {
  content: "\e93a";
}
.icon-rs-ub-alart:before {
  content: "\e93b";
}
.icon-rs-ub-forgot:before {
  content: "\e93c";
}
.icon-rs-ub-heart:before {
  content: "\e93d";
}
.icon-rs-ub-search:before {
  content: "\e93e";
}
.icon-rs-ub-unlink:before {
  content: "\e93f";
}
.icon-rs-video-view:before {
  content: "\e940";
}
