<template>
  <div>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <router-link to="/" class="navbar-item navbar-brand-title">Rolmes</router-link>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="column m-3 is-three-fifths is-offset-one-fifth">
        <h2>Check your email</h2>
        <p>You should receive an email containing how to create a new password.</p>
        <br>
        <h4>Didn't receive the email?</h4>
        <p>Check spam or bulk folders for a message coming from service@rolmes.com</p>
        <router-link to="/" class="button is-primary is-rounded is-outlined mt-3">Return to home page</router-link>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'forgot-pw',
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
