<template>
  <div class="home">
    <!-- =========================
                     Start POPUP
                ============================== -->
    <div id="PRICE" class="popup">
      <div class="popup__content is-transparent">
        <a href="#" class="btn-close"><i class="icon-rs-delete"></i></a>
        <div class="columns no-gap">
          <div class="column">
            <article class="price is-primary">
              <h1>5,000</h1>
              <h5>Per year</h5>
              <p class="price__desc">Includes hosting and 4 hours technical support.</p>
              <span class="btn base-btn">Base application</span>
            </article>
          </div>

          <div class="column">
            <article class="price">
              <h1>40</h1>
              <h5>Per user / year</h5>
              <p class="price__desc">15 users agency</p>
              <span class="btn users-btn">1-100 users</span>
            </article>
          </div>

          <div class="column">
            <article class="price">
              <h1>35</h1>
              <h5>Per user / year</h5>
              <p class="price__desc">150 users agency</p>
              <span class="btn users-btn">101-300 users</span>
            </article>
          </div>

          <div class="column">
            <article class="price">
              <h1>30</h1>
              <h5>Per user / year</h5>
              <p class="price__desc">400 users agency</p>
              <span class="btn users-btn">300+ users</span>
            </article>
          </div>
        </div>
        <p class="tips has-text-centered">CSI does not offer refund as all services are customized programming which mutual agreement are signed before services are provided.
        </p>
      </div>
    </div>
    <!-- END POPUP -->


    <!-- =========================
                     START ABOUT US SECTION
                ============================== -->
    <nav id="Navbar" class="navbar">
      <div class="navbar-brand">
        <router-link to="/" class="navbar-brand-title">Rolmes</router-link>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="navbar-item" href="#ABOUT">About</a>
              </p>
              <p class="control">
                <a class="navbar-item" href="#SOLUTIONS">Solutions</a>
              </p>
              <p class="control">
                <a class="navbar-item" href="#FEATURES">Features</a>
              </p>
              <p class="control">
                <a class="navbar-item" href="#CONTACT">Contact us</a>
              </p>
              <p class="control">
                <a class="navbar-item is-primary" href="#" @click="signInModal = !signInModal">Sign in</a>
              </p>
              <p class="control">
                <a class="navbar-item is-primary" href="#" @click="signUpModal = !signUpModal">Sign up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <section class="hero" id="HOME">
      <div class="hero-body section_overlay">
        <div class="container has-text-centered">
          <img src="../assets/images/logo_icon.png" alt="" class="applogo">

          <!-- TITLE AND DESC -->
          <h1 class="has-text-white">Rolmes is your best assistant at the crime scene</h1>
          <p class="home__tertiary">Rolmes is a total solution that is on scene accessible, guarantees accurate evidence and data collection.
          </p>

          <div class="btn-group mtb-3">
            <!-- BUTTON -->
            <!-- <a class="button is-large is-primary is-rounded" href="#" @click="trialModal = !trialModal">Free Trial</a> -->
            <a class="button is-large is-rounded is-outlined" href="#PRICE">Pricing</a>
          </div>
        </div>
      </div>
    </section>

    <!-- =========================
                     START ABOUT SECTION
                ============================== -->
    <section class="about" id="ABOUT">
      <div class="columns is-gapless">
        <div class="column">
          <div class="p-3">
            <h1 class="home__title">About</h1>
            <h2 class="home__subtitle">Get it right the first time</h2>
            <p>Rolmes is a total solution that is on scene accessible, guarantees accurate evidence and data collection.
              <br>
              <br> It also provides a knowledge base for crime scene processing. The goal of Rolmes is to get it right the first time.
              <br>
              <br> Rolmes provides the crime scene technicians with the tools to meet the highest standards for identifying, processing, and collecting evidence.
            </p>
          </div>
        </div>

        <div class="column">
          <div class="about__img"></div>
        </div>
      </div>
    </section>

    <!-- =========================
                     START SOLUTIONS
                ============================== -->
    <section class="solutions" id="SOLUTIONS">
      <div class="section_overlay">
        <div class="container">
          <h1 class="p-3">Solutions</h1>
        </div>
      </div>
    </section>

    <section class="solution-content">
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child single_card darkbg">
              <div class="card_img">
                <img src="../assets/images/img01.png">
              </div>
              <div class="content">
                <p class="title">Knowledge Base</p>
                <p class="subtitle">Accurate</p>
                <p>Conducting an investigation with the embedded S.O.P. of Rolmes will eliminate problems resulting from inadmissible evidence or the failure to gather evidence, often incurred with manual evidence collection process without a good step by
                  step guide.</p>
              </div>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child single_card">
              <div class="content">
                <p class="title">Information Sharing</p>
                <p class="subtitle">Real-time</p>
                <p>Rolmes will synchronize the collected data with the cloud database, including photos, and all of the environmental parameters collected from the crime scene. This will be done in real time, via 4G mobile telecommunication technology.</p>
              </div>
              <div class="card_img">
                <img src="../assets/images/img02.png">
              </div>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child single_card darkbg">
              <div class="card_img">
                <img src="../assets/images/img03.png">
              </div>
              <div class="content">
                <p class="title">Evidence Collection</p>
                <p class="subtitle">Well-Organized</p>
                <p>Entering evidence items intelligently based on category with flexible fields. Easy to print evidence barcode label and send digital receipt to evidence owner.</p>
              </div>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child single_card">
              <div class="content">
                <p class="title">Reporting</p>
                <p class="subtitle">Efficiency</p>
                <p>The case management system can generate composed, accurate and completed crime scene report by only one click.</p>
              </div>
              <div class="card_img">
                <img src="../assets/images/img04.png">
              </div>
            </article>
          </div>

        </div>
      </div>
    </section>

    <!-- =========================
                     START FEATURE
                ============================== -->
    <section class="features" id="FEATURES">
      <div class="container">
        <h1 class="home__title">Features</h1>
        <p class="home__tertiary">Rolmes, a well-organized and more accurate information system.
          <br>It can share immediately without using hand writing, time saving and device integration, all of the functions will be a great benefit to you.</p>
      </div>
    </section>

    <section class="feature_content">
      <div class="container p-3">
        <div class="columns has-text-centered">
          <div class="column">
            <div class="diamond">
              <i class="diamond__icon icon-physical"></i>
            </div>
            <h3>Physical Evidence Record Collection</h3>
            <p>Flexible fields
              <br>Barcode label
              <br>Digital evidence receipt
            </p>
          </div>

          <div class="column">
            <div class="diamond bordered">
              <i class="diamond__icon icon-photograph"></i>
            </div>
            <h3>Photograph/Video Management</h3>
            <p>Tag
              <br>Note
              <br>Relationship</p>
          </div>

          <div class="column">
            <div class="diamond">
              <i class="diamond__icon icon-integratio"></i>
            </div>
            <h3>Hardware Integration</h3>
            <p>Digital camera
              <br>Barcode printer</p>
          </div>

          <div class="column">
            <div class="diamond bordered">
              <i class="diamond__icon icon-sharing"></i>
            </div>
            <h3>Information Sharing</h3>
            <p>Offline mode
              <br>Synchronization</p>
          </div>
        </div>

        <div class="columns has-text-centered pt-3">
          <div class="column">
            <div class="diamond">
              <i class="diamond__icon icon-objects"></i>
            </div>
            <h3>Objects Relationship</h3>
            <p>Time
              <br>Scene
              <br>Photograph
              <br>Contact
              <br>Evidence
            </p>
          </div>

          <div class="column">
            <div class="diamond bordered">
              <i class="diamond__icon icon-kb"></i>
            </div>
            <h3>Knowledge Base</h3>
            <p>S.O.P</p>
          </div>

          <div class="column">
            <div class="diamond">
              <i class="diamond__icon icon-report"></i>
            </div>
            <h3>Report Generator</h3>
            <p>Word
              <br>PPT
            </p>
          </div>
        </div>

      </div>
    </section>


    <!-- =========================
                     START CONTCT FORM AREA
                ============================== -->
    <section class="contact" id="CONTACT">
      <div class="section_overlay">
        <div class="container has-text-centered">
          <h1 class="has-text-white">CONTACT US</h1>
          <p class="home__tertiary">Please provide your message and contact information and we will get back to you.</p>
        </div>

        <div class="container">
          <form class="contact_form p-3" role="form" action="mailto:smarttaiwan@csitech.com.tw?subject=I need more information of Rolmes" method="post" enctype="text/plain">
            <div class="control">
              <input type="text" class="form-control" name="Name" placeholder="Name" v-model="contactUs.name" required="required">
            </div>
            <div class="control">
              <input type="text" class="form-control" id="subject" name="Subject" v-model="contactUs.subject" placeholder="Subject">
            </div>
            <div class="control">
              <input type="text" class="form-control" name="Agency" placeholder="Agency" v-model="contactUs.agency" required="required">
            </div>
            <div class="control">
              <input type="email" class="form-control" name="Email" placeholder="Email" v-model="contactUs.email" required="required">
            </div>
            <div class="control">
              <input type="text" class="form-control" name="Phone" placeholder="Phone" v-model="contactUs.phone">
            </div>
            <div class="control">
              <textarea class="form-control size-2x" name="Message" id="message" rows="25" cols="10" v-model="contactUs.message" placeholder="Message Texts..."></textarea>
            </div>
            <div class="control">
              <input type="hidden" id="hdnSend">
              <input id="btnSubmit" type="submit" class="submit-btn" value="SUBMIT" @click="addContactUs">
            </div>
          </form>
        </div>
      </div>
    </section>


    <!-- =========================
                     FOOTER
                ============================== -->
    <section class="copyright">
      <h2></h2>
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="copy_right_text">
              <!-- COPYRIGHT TEXT -->
              <h4>Copyright &copy;
                <a href="http://www.csitech.com" target="blank">CSI Technology Group</a>
                <br>
                <span>All rights reserved.</span>
              </h4>
            </div>
          </div>

          <div class="column">
            <h4>Contact Info</h4>
            <p>
              <i class="icon-map"></i>330 Mac Lane Keasbey, NJ 08832, U.S.A</p>
            <p>
              <i class="icon-old-phone"></i>(732)346-0200</p>
            <p>
              <i class="icon-mail"></i>sales@csitech.com</p>
          </div>

          <div class="column">
            <div class="scroll_top">
              <a href="#HOME">
                <i class="icon-chevron-thin-up"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- POPUP -->
    <modal v-show="signInModal" @close="signInModal = !signInModal">
      <!-- Header -->
      <div slot="header">
        <h1>Sign in</h1>
        <div class="flex-box">
          <p>Not a member yet? <a class="btn-link" @click="showSignUp">Sign up</a></p>
          <p><a class="btn-link" @click="showPWModal">Forgot Password?</a></p>
        </div>
      </div>
      <!-- Content -->
      <div slot="body">
        <signin></signin>
      </div>
    </modal>

    <modal v-show="signUpModal" @close="signUpModal = !signUpModal">
      <!-- Header -->
      <div slot="header">
        <h1>Sign up</h1>
        <p>Already have an account? <a class="btn-link" @click="showSignIn">Sign in</a></p>
      </div>
      <!-- Content -->
      <div slot="body">
        <signup v-on:showSignIn="showSignIn"></signup>
      </div>
    </modal>

    <modal v-show="trialModal" @close="trialModal = !trialModal">
      <!-- Header -->
      <div slot="header">
        Get 6 months free!
        <p>Please fill this application form to apply your account.</p>
      </div>
      <!-- Content -->
      <div slot="body">
        <trialform></trialform>
      </div>
      <!-- Footer -->
      <div slot="footer" class="btn-group">
        <p class="tips mt-4">Note: All form fields are required.</p>
      </div>
    </modal>

    <modal v-show="resetPWModal" @close="resetPWModal = !resetPWModal">
      <!-- Header -->
      <div slot="header">
        <h1>Forgot Password?</h1>
        <p>Enter your email to help us identify you.</p>
      </div>
      <!-- Content -->
      <div slot="body">
        <resetpw></resetpw>
      </div>
    </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
  import router from '../router'
  import modal from './parts/_Modal.vue';
  import signin from './parts/_SignIn.vue';
  import signup from './parts/_SignUp.vue';
  import trialform from './parts/_Trial.vue';
  import resetpw from './parts/_ResetPW.vue';

  export default {
    name: 'home',
    components: {
      modal,
      signin,
      signup,
      trialform,
      resetpw
    },
    data() {
      return {
        signInModal: false,
        signUpModal: false,
        trialModal: false,
        resetPWModal: false,
	    contactUs: []
      };
    },
    created() {
      window.addEventListener('scroll', this.handleScroll, true);
    },
    destroyed() {
      window.removeEventListener('scroll', this.handleScroll);
    },
    methods: {
      showPWModal() {
        this.signInModal = false;
        this.resetPWModal = true;
      },
      showSignIn() {
        this.signUpModal = false;
        this.signInModal = true;
      },
      showSignUp() {
        this.signInModal = false;
        this.signUpModal = true;
      },
	    addContactUs() {
        var params = new URLSearchParams();
        params.append('user_name', this.contactUs.name);
        params.append('agency', this.contactUs.agency);
        params.append('email', this.contactUs.email);
        params.append('phone', this.contactUs.phone);
        params.append('subject', this.contactUs.subject);
        params.append('message', this.contactUs.message);

        this.axios.post(this.$conf.API_URL + '/Login/AddContactUs', params)
          .then((response) => {
          }).catch(error => {
            console.log(error);
        });
	    },
      handleScroll() {
        var scroll = document.body.scrollTop;
        if (scroll > 250) {
          document.getElementById('Navbar').classList.add('has-bg');
        } else {
          document.getElementById('Navbar').classList.remove('has-bg');
        }
      }
    }
  }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../assets/sass/home';
  @import '../assets/css/magnific-popup.css';
  @import '../assets/css/responsive.css';
</style>
