<template>
  <div class="app-content">
    <nav-header/>

    <div class="container inbox-bg">
      <header class="header">
        <div class="columns">
          <div class="column is-one-third">
            <div class="field">
              <div class="control">
                <el-autocomplete
                  class="el-input__search"
                  v-model="search"
                  :fetch-suggestions="querySearch"
                  :placeholder="$t('Button.Search')"
                  clearable
                  @select="handleSelect">
                  <i slot="prefix" class="el-input__icon icon-rs-ub-search"></i>
                  <i slot="suffix" v-show="search != ''" class="el-input__icon el-icon-circle-close" @click="resetQuery"></i>
                </el-autocomplete>
              </div>
            </div>
          </div>

          <div class="column has-text-right">
            <button class="button is-primary is-large" @click="showModal">{{$t('Button.Add')}}</button>
          </div>

        </div>
      </header>

      <main>
        <div class="cards">
          <div v-for="log in filteredLogs" class="card" @click="toLogInfo(log.cs_log_id)">
            <router-link :to="'/log/' + log.cs_log_no">
              <div class="card-content">
                <p class="card-title is-4">{{log.cs_log_no}}</p>
                <ul class="card__list">
                  <li class="card__item">
                    <i class="card__item-icon icon-rs-log-location"></i>
                    <span>{{log.address}}</span>
                  </li>
                  <li class="card__item">
                    <i class="card__item-icon icon-rs-log-time"></i> {{log.receive_datetime}}
                  </li>
                  <li class="card__item">
                    <i class="card__item-icon icon-rs-log-type"></i> {{log.crime_type}}
                  </li>
                </ul>
              </div>
            </router-link>
          </div>
        </div>
      </main>
    </div>

    <!-- POPUP -->
      <modal v-show="isModalVisible" @close="closeModal">
        <!-- Header -->
        <h4 slot="header">{{$t('Message.AddLog')}}</h4>
        <!-- Content -->
        <div slot="body">
          <addeditlog ref="logForm"
		    :act="act"
			v-on:logUpdated="getLogList"
			v-on:closeModal="closeModal"></addeditlog>
        </div>
      </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
import modal from './parts/_Modal.vue';
import addeditlog from './parts/_AddEditLog.vue';
import router from '../router';

export default {
  name: 'inbox',
  components: {
    modal,
    addeditlog
  },
  data() {
    return {
      logs: [],
      search: '',
      act: 'add',
      options: [],
      isModalVisible: false
    };
  },
  methods: {
	showModal() {
      this.isModalVisible = true;
    },
    closeModal() {
	  this.$refs.logForm.resetForm();
      this.isModalVisible = false;
    },
	getLogList() {	
      this.axios.defaults.headers.common['Accept-Language'] = sessionStorage.getItem('language');
      this.isModalVisible = false;

      var params = new URLSearchParams();
      params.append('staff_id', sessionStorage.getItem("staff_id"));
      params.append('token', sessionStorage.getItem("token"));

      this.axios.post(this.$conf.API_URL + '/SceneLog/GetLogList', params)
      .then((response) => {	    
        this.logs = response.data; 
      }).catch(error => {
        console.log(error);
      });
    },
    toLogInfo(cs_log_id) {
      sessionStorage.setItem("cs_log_id", cs_log_id);
    },
    querySearch(queryString, cb) {
      var options = this.options;
      var results = queryString ? options.filter(this.createFilter(queryString)) : options;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (link) => {
        return (link.label.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    filterType() {
      return [];
        /*{ "value": "All", "label": "All" },
        { "value": "Today", "label": "Today" },
        { "value": "Last 7 Days", "label": "Last 7 Days" },
        { "value": "Last 2 Weeks", "label": "Last 2 Weeks" },
        { "value": "Last Month", "label": "Last Month" },*/

    },
    handleSelect(item) {
      console.log(item);
    },
    resetQuery() {
      this.search = ''
    }
  },
  beforeMount() {
	this.getLogList();
  },
  computed: {
    filteredLogs:function(){
      return this.logs.filter((log) => {
        return log.cs_log_no.match(this.search)
      });
    }
  },
  mounted() {
	this.checkAuth();
    this.options = this.filterType();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
