<template>
  <div class="app-content">
    <nav-header></nav-header>

    <div class="container">
      <header class="header mtb-3">
        <div class="level">
          <div class="level-left">
            <div class="subtitle is-2 has-text-primary">Knowledge Base</div>
          </div>
          <div class="level-right">
            <div class="field">
              <div class="control is-pulled-right">
                <el-input class="el-input__search" placeholder="Search" v-model="filterText">
                  <i slot="prefix" class="el-input__icon icon-rs-ub-search"></i>
                  <i slot="suffix" v-show="filterText != ''" class="el-input__icon el-icon-circle-close" @click="resetQuery"></i>
                </el-input>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </header>

      <main>
        <div class="columns">
          <div class="column is-5">
            <el-tree class="filter-tree"
              :data="treeData"
              :props="defaultProps"
              default-expand-all
              :filter-node-method="filterNode"
			        node-key="id"
              ref="kbtree"
              @node-click="getKBdetail">
            </el-tree>
          </div>
          <div class="column" v-show="isShowContent">
            <div class="kb-content" id="KBContent"></div>
          </div>
        </div>

      </main>
    </div>

  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'kb',
    data() {
      return {
        filterText: '',
        treeData: [],
		isShowContent: false,
        defaultProps: {
		  id: 'id',
          children: 'children',
          label: 'label'
        }
      };
    },
    watch: {
      filterText(val) {
        this.$refs.kbtree.filter(val);
      }
    },
    methods: {
      filterNode(value, data) {
        if (!value) return true;
        return data.label.indexOf(value) !== -1;
      },
      resetQuery() {
        this.filterText = ''
      },
	  getKBdetail(data) {
	    if(data.id){
		  this.isShowContent = true;

          var params = new URLSearchParams();
          params.append('cs_sop_id', data.id);
          params.append('language', 1);
          this.axios.post(this.$conf.API_URL + '/Login/GetKBdetail', params)
            .then((response) => {
              document.getElementById("KBContent").innerHTML = response.data.sop_description;
            }).catch(error => {
              console.log(error);
          });
		}else{
		  this.isShowContent = false;
		}
	  }
    },
    beforeMount() {
	  this.checkAuth();
      var params = new URLSearchParams();
      params.append('language', 1);
      this.axios.post(this.$conf.API_URL + '/Login/GetKBcontent', params)
        .then((response) => {
          this.treeData = response.data;
        }).catch(error => {
          console.log(error);
      });
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.alllog-title {
  font-size: 2.5rem;
}

.p_items {
	text-align: justify;
	text-indent: -13pt;
	margin: 6pt 15pt 0pt 25pt;
	line-height: -17pt;
}

.pp_items {
	text-align: justify;
	text-indent: -13pt;
	margin: 6pt 15pt 0pt 30pt;
	line-height: 17pt;
}

.ppp_items {
	text-align: justify;
	text-indent: -13pt;
	margin: 6pt 15pt 0pt 35pt;
	line-height: 17pt;
}
</style>
