<template>
  <div class="app-content">
    <nav-header>
      <h3 slot="title">{{ $route.params.cs_log_no }}</h3>
    </nav-header>

    <div class="bar-container">

      <side-menu/>

      <router-view/>

    </div>


  </div>
</template>

<script>
export default {
  name: 'log',
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
