<template>
  <div>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <router-link to="/" class="navbar-item navbar-brand-title">Rolmes</router-link>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>

    <div class="container">
      <div class="column m-3 is-three-fifths is-offset-one-fifth">
        <h2>Reset your password</h2>
        <p>Password must be at least 8 characters and contain at least one number and one lowercase letter!</p>
        <br>
        <div style="width: 50%">
          <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
            <el-form-item prop="password">
              <el-input v-model="ruleForm.password" type="password" maxlength="20" placeholder="Password" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item prop="confirm_password">
              <el-input v-model="ruleForm.confirm_password" type="password" maxlength="20" placeholder="Confirm password" auto-complete="off"></el-input>
            </el-form-item>
          </el-form>
        </div>
        <button class="button is-primary is-large mt-2" @click="submitForm('ruleForm')">Change password</button>
      </div>
    </div>

  </div>
</template>

<script>
  import router from '../router';
  export default {
    name: 'reset-pw',
    data() {
      var isValidPassword = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the password'));
        } else if (!isValidPassword.test(value) || value.length < 8) {
          callback(new Error('Incorrect password format'));
        } else {
          if (this.ruleForm.confirm_password !== '') {
            this.$refs.ruleForm.validateField('confirm_password');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the password again'));
        } else if (value !== this.ruleForm.password) {
          callback(new Error('Confirm password does not match Password'));
        } else {
          callback();
        }
      };
      return {
        ruleForm: {
          password: '',
          confirm_password: '',
        },
        rules: {
          password: [{
            validator: validatePass,
            trigger: 'blur'
          }],
          confirm_password: [{
            validator: validatePass2,
            trigger: 'blur'
          }]
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.updatePassword();
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
	  updatePassword() {
		var params = new URLSearchParams();
        params.append('password', this.ruleForm.password);
        params.append('confirm_password', this.ruleForm.confirm_password);
        params.append('token', this.$route.params.token);

        this.axios.post(this.$conf.API_URL + '/Login/UpdatePassword', params)
          .then((response) => {
		    alert('Update password successfully. Please sign in again!');
		    router.push({
              'path': '/' })
          }).catch(error => {
            console.log(error);
        });
	  }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
