<template>
  <div class="app-content">
    <nav-header></nav-header>

    <div class="container">
      <header class="header mtb-3">
        <div class="subtitle is-2 has-text-primary">{{$t('Message.Setting')}}</div>
        <hr>
      </header>

      <main>
        <!-- FORM -->
        <form role="form" method="post" action="" onsubmit="">
            <div class="columns is-variable is-8 is-multiline">
                <div class="column is-one-third">
                    <div class="field">
                      <label class="label">{{$t('Field.Email')}}</label>
                      <div class="control">
                        <input class="input is-large" type="text" v-model="person.email" maxlength="50" readonly>
                      </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="field">
                      <label class="label">{{$t('Field.FirstName')}}</label>
                      <div class="control">
                        <input class="input is-large" type="text" v-model="person.first_name" maxlength="20">
                      </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="field">
                      <label class="label">{{$t('Field.LastName')}}</label>
                      <div class="control">
                        <input class="input is-large" type="text" v-model="person.last_name" maxlength="20">
                      </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="field">
                      <label class="label">{{$t('Field.PhoneNo')}}</label>
                      <div class="control">
                        <input class="input is-large" type="text" v-model="person.phone" maxlength="15">
                      </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="field">
                      <label class="label">{{$t('Field.Password')}}</label>
                      <div class="control">
                        <input class="input is-large" type="password" v-model="person.password" maxlength="20" @change="isResetPwd = 1">
                      </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="field">
                      <label class="label">{{$t('Field.ConfirmPassword')}}</label>
                      <div class="control">
                        <input class="input is-large" type="password" v-model="person.confirm_password" maxlength="20" @change="isResetPwd = 1">
                      </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="field">
                      <label class="label">{{$t('Field.Agency')}}</label>
                      <div class="control">
                        <input class="input is-large" type="text" v-model="person.agency" maxlength="20">
                      </div>
                    </div>
                </div>
                <div class="column is-one-third">
                    <div class="field">
                      <label class="label">{{$t('Field.JobTitle')}}</label>
                      <div class="control">
                        <input class="input is-large" type="text" v-model="person.job_title" maxlength="20">
                      </div>
                    </div>
                </div>

            </div>

            <hr class="mtb-3">

            <div class="has-text-centered">
              <a href="#VERIFY" class="button is-primary is-large is-half" @click="updateStaffInfo">{{$t('Button.Save')}}</a>
            </div>
        </form>
        <!-- END FORM -->

      </main>
    </div>

  </div>
</template>

<script>
  
export default {
  name: 'inbox',
  data() {
    return {
      person: [],
	  isResetPwd: 0
	};
  },
  methods: {      
    getStaffInfo() {
      var params = new URLSearchParams();
      params.append('staff_id', sessionStorage.getItem('staff_id'));
      params.append('token', sessionStorage.getItem('token'));

      this.axios.post(this.$conf.API_URL + '/Personnel/GetStaffInfo', params)
        .then((response) => {
            this.person = response.data;
        }).catch(error => {
          console.log(error);
      });
	},
    updateStaffInfo() {
      var params = new URLSearchParams();
      params.append('staff_id', sessionStorage.getItem('staff_id'));
      params.append('token', sessionStorage.getItem('token'));
      params.append('isResetPwd', this.isResetPwd );
      params.append('first_name', this.person.first_name);
      params.append('last_name', this.person.last_name);
      params.append('agency', this.person.agency);
      params.append('badge_no', this.person.badge_no);
      params.append('phone', this.person.phone);
      params.append('job_title', this.person.job_title);
      params.append('password', this.person.password);
      params.append('confirm_password', this.person.confirm_password);

      this.axios.post(this.$conf.API_URL + '/Personnel/UpdateStaffInfo', params)
        .then((response) => {
          if (response.status == '200') {
		    this.$message(this.$t('Message.ExecutionSucceed'));
		  }else{
		    this.$message.error(response.message);	    
		  }
        }).catch(error => {
          console.log(error);
      });
	}
  },
  beforeMount() {
    this.checkAuth();
    this.getStaffInfo();
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
