<template>
  <div class="columns is-multiline">
    <div class="columns">
      <div class="column is-one-third">
        <ul class="addphoto-list">
          <li v-for="(photo, index) in checkedPaths" :key="index" class="addphoto-list__item">
            <img :src="photo" alt="Evidence Photo">
            <div class="addphoto-list__icon"><i class="icon-rs-delete" @click="clickDeletePhoto(index)"></i></div>
          </li>
          <!-- Add Photo -->
          <li class="addphoto-list__item" @click="clickPhoto"><i class="addphoto-list__item-add icon-rs-add"></i></li>
        </ul>

        <div class="mt-2 field">
          <label class="label">{{$t('Field.RelatedContact')}}</label>
          <div class="control">
            <el-select v-model="relatedContact" multiple filterable allow-create default-first-option :placeholder="$t('Field.RelatedContact')">
              <el-option v-for="item in allContact" :key="item.value" :label="item.value" :value="item.value">
                <span style="float: left">{{ item.value }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px; margin-right: 2rem">{{ item.label }}</span>
              </el-option>
            </el-select>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="columns is-multiline">

          <div v-show="fieldIsShow[0]" class="column is-6">
            <div class="field">
              <label class="label req">{{$t('Field.ItemNo')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.item_no" maxlength="10">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[1]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Quantity')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.qty" onkeyup="value=value.replace(/[^\d\.]/g,'')" maxlength="3">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[2]" class="column is-6">
            <div class="field">
              <label class="label req">{{$t('Field.Category')}}</label>
              <div class="control">
                <el-select v-model="obj_category" value-key="code" :placeholder="$t('Button.Select')" @change="changed">
                  <el-option v-for="item in ddl_category" :key="item.code" :label="item.value" :value="item">
                  </el-option>
                </el-select>
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[3]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.SubCategory')}}</label>
              <div class="control">
                <el-select v-model="obj_subcategory" value-key="code" :placeholder="$t('Button.Select')">
                  <el-option v-for="item in ddl_subcategory" :key="item.code" :label="item.value" :value="item"></el-option>
                </el-select>
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[4]" class="column is-6">
            <div class="field">
              <label class="label req">{{$t('Field.IsBiohazard')}}</label>
              <div class="control">
                <el-select v-model="obj_is_biohazard" value-key="code" :placeholder="$t('Button.Select')">
                  <el-option v-for="item in ddl_is_biohazard" :key="item.code" :label="item.value" :value="item"></el-option>
                </el-select>
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[5]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Make')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.make" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[6]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Caliber')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.caliber" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[7]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Color')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.color" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[8]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Year')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.year" maxlength="10">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[9]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Model')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.model" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[10]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.SerialNo')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.serial_no" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[11]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Type')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.type" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[12]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Length')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.barrel_length" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[13]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Body')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.body" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[14]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.VinNo')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.vin_no" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[15]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.RegistrationNo')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.registration_no" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[16]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.VehicleState')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.state" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[17]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Mileage')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.mileage" maxlength="10">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[18]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.ManufactureDate')}}</label>
              <div class="control">
                <el-date-picker v-model="evid.manufactured_date" type="date" format="MM/dd/yyyy" prefix-icon="icon-rs-log-date" :placeholder="$t('Button.SelectDate')" :picker-options="dateValidation">
                </el-date-picker>
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[19]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.PlateNo')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.plate_no" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[20]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.BillAmount')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.bill_total" onkeyup="value=value.replace(/[^\d\.]/g,'')" maxlength="10">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[21]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.CoinAmount')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.coin_total" onkeyup="value=value.replace(/[^\d\.]/g,'')" maxlength="10">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[22]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.Total')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.total" onkeyup="value=value.replace(/[^\d\.]/g,'')" maxlength="10">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[23]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.RecoveredDate')}}</label>
              <div class="control">
                <el-date-picker v-model="found_date" type="date" format="MM/dd/yyyy" prefix-icon="icon-rs-log-date" :placeholder="$t('Button.SelectDate')" :picker-options="dateValidation">
                </el-date-picker>
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[24]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.RecoveredTime')}}</label>
              <div class="control">
                <el-time-picker arrow-control v-model="found_time" value-format="HH:mm" format="HH:mm" prefix-icon="icon-rs-log-choosetime" :placeholder="$t('Button.SelectTime')">
                </el-time-picker>
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[25]" class="column is-6">
            <div class="field">
              <label class="label req">{{$t('Field.WhereRecovered')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.found_loc" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[26]" class="column is-6">
            <div class="field">
              <label class="label req">{{$t('Field.RecoveredBy')}}</label>
              <div class="control">
                <el-select v-model="obj_found_by" value-key="cs_person_id" :placeholder="$t('Button.Select')">
                  <el-option v-for="item in ddl_log_staff" :key="item.cs_person_id" :label="item.person_name" :value="item">
                  </el-option>
                </el-select>
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[27]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.EvidenceMarking')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.evidence_marking" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[28]" class="column is-6">
            <div class="field">
              <label class="label">{{$t('Field.LabNo')}}</label>
              <div class="control">
                <input class="input" type="text" v-model="evid.lab_no" maxlength="20">
              </div>
            </div>
          </div>

          <div v-show="fieldIsShow[29]" class="column is-12">
            <div class="field">
              <label class="label req">{{$t('Field.BriefDescription')}}</label>
              <div class="control">
                <textarea class="textarea" placeholder="" v-model="evid.item_brief_desc"></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <div v-show="isEdit" slot="footer" class="btn-group has-text-centered">
      <button class="button is-large" v-if="act === 'add'" @click="closeModal" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
      <button class="button is-tertiary is-large" v-if="act === 'update'" @click="showDeleteModal" aria-label="Delete">{{$t('Button.Delete')}}</button>
      <button class="button is-large is-primary" @click="checkForm">{{$t('Button.Save')}}</button>
    </div>

    <!-- POPUP -->
    <modal v-show="isDeleteVisible" @close="closeDeleteModal" class="is-small">
      <div slot="body">
        <p class="title is-size-4 has-text-centered">{{$t('Message.ConfirmDeleteEvidence')}}</p>
      </div>
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large" @click="closeDeleteModal" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-tertiary is-large" @click="deleteEvidence">{{$t('Button.Delete')}}</button>
      </div>
    </modal>

    <modal v-show="selectModal" @close="cancelSelected" class="is-hd">
      <!-- Header -->
      <!-- Content -->
      <div slot="body">
        <remotephotos ref="photoForm"
        :resetChecked="checkedItems"
        :resetPaths="checkedPaths"
        @selectedItems="checkedItems = $event" 
		@selectedPaths="checkedPaths = $event"></remotephotos>
      </div>
      <!-- Footer -->
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large is-tertiary" @click="cancelSelected" aria-label="Cancel">{{$t('Button.Cancel')}}</button>
        <button class="button is-large is-primary" @click="photoSelected">{{$t('Button.Save')}}</button>
      </div>
    </modal>
    <!-- POPUP End-->

  </div>
</template>

<script>
  import moment from 'moment';
  import modal from '../parts/_Modal.vue';
  import remotephotos from '../parts/_RemotePhotos.vue';

  export default {
    name: 'addeditevidence',
    components: {
      modal,
      remotephotos
    },
    props: {
      act: {
        type: String,
        required: true
      }
    },
    data: function() {
      return {
        types: [],
        evid: [],
        cs_item_id: '',
        obj_category: [],
        obj_subcategory: [],
        obj_is_biohazard: [],
        obj_found_by: [],
        ddl_category: [],
        ddl_subcategory: [],
        ddl_is_biohazard: [],
        ddl_log_staff: [],
        fieldIsShow: [],
        isDeleteVisible: false,
        relatedContact: [],
        selectModal: false,
        checkedItems: [],
        checkedPaths: [],
        allContact: [],
		default_items: [],
		default_paths: [],
	    dateValidation: {
	      disabledDate(time) {
		    return time.getTime() > Date.now();
	      },
        },
	    isEdit: true,
		found_date: '',
		found_time: ''
      };
    },
    methods: {
      editEvidence() {  
	    var relatedContactId = '';
		for(var i=0; i<this.allContact.length; i++){
		  if( this.relatedContact.includes(this.allContact[i].value) ){
		    relatedContactId +=  ',' + this.allContact[i].cs_person_id;
		  }		  
		}		  
		
        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('cs_item_id', this.cs_item_id);
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('lab_no', (!this.evid.lab_no) ? '' : this.evid.lab_no );
        params.append('item_no', this.evid.item_no);
        params.append('category', this.obj_category.code);
        params.append('subcategory', (!this.obj_subcategory.code) ? '' : this.obj_subcategory.code );
        params.append('qty', (!this.evid.qty) ? '' : this.evid.qty ) ;
        params.append('make', (!this.evid.make) ? '' : this.evid.make );
        params.append('is_biohazard', this.obj_is_biohazard.code);
        params.append('evidence_marking', (!this.evid.evidence_marking) ? '' : this.evid.evidence_marking );
        params.append('found_loc', this.evid.found_loc);
        params.append('found_by', this.obj_found_by.cs_person_id);
        params.append('found_datetime', (!this.found_date) ? '' : moment( this.found_date ).format('M/D/YYYY') + ' ' + this.found_time );
        params.append('item_brief_desc', this.evid.item_brief_desc);
        params.append('color', (!this.evid.color) ? '' : this.evid.color );
        params.append('year', (!this.evid.year) ? '' : this.evid.year );
        params.append('model', (!this.evid.model) ? '' : this.evid.model );
        params.append('body', (!this.evid.body) ? '' : this.evid.body );
        params.append('vin_no', (!this.evid.vin_no) ? '' : this.evid.vin_no );
        params.append('plate_no', (!this.evid.plate_no) ? '' : this.evid.plate_no );
        params.append('registration_no', (!this.evid.registration_no) ? '' : this.evid.registration_no );
        params.append('state', (!this.evid.state) ? '' : this.evid.state );
        params.append('mileage', (!this.evid.mileage) ? '' : this.evid.mileage );
        params.append('manufacture_date', (!this.evid.manufacture_date) ? '' : this.evid.manufacture_date );
        params.append('caliber', (!this.evid.caliber) ? '' : this.evid.caliber );
        params.append('serial_no', (!this.evid.serial_no) ? '' : this.evid.serial_no );
        params.append('barrel_length', (!this.evid.barrel_length) ? '' : this.evid.barrel_length );
        params.append('type', (!this.evid.type) ? '' : this.evid.type );
        params.append('bill_total', (!this.evid.bill_total) ? '' : this.evid.bill_total );
        params.append('coin_total', (!this.evid.coin_total) ? '' : this.evid.coin_total );
        params.append('total', (!this.evid.total) ? '' : this.evid.total );
        params.append('photo', this.checkedItems);	
        params.append('related_contact', relatedContactId);	
		
		if (this.act == 'update') {
          this.axios.post(this.$conf.API_URL + '/Evidence/UpdateEvidence', params)
            .then((response) => {
              this.$emit('evidUpdated');
            }).catch(error => {
              console.log(error);
            });
        } else {
          this.axios.post(this.$conf.API_URL + '/Evidence/AddEvidence', params)
            .then((response) => {
              this.$emit('evidUpdated');
            }).catch(error => {
              console.log(error);
            });
        }
		this.resetForm();
      },
      getEvidenceInfo(cs_item_id) {
        this.cs_item_id = cs_item_id;
		
        var params = new URLSearchParams();
        params.append('cs_item_id', cs_item_id);
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Evidence/GetEvidenceInfo', params).then((response) => {
          this.evid = response.data;
          this.obj_category = this.evid.obj_category;
          this.obj_subcategory = this.evid.obj_subcategory;
		  this.switchField(this.obj_category.code);
		  
          this.obj_is_biohazard = this.evid.obj_is_biohazard;
          this.obj_found_by = this.evid.obj_found_by;
		  this.found_date = this.evid.found_datetime.substring(0,10);
		  this.found_time = this.evid.found_datetime.substring(11,16);
		  
		  for(var i=0; i<this.evid.media.length; i++){
		    this.checkedItems.push( this.evid.media[i].cs_media_id );
		  }		  
		  for(var i=0; i<this.evid.media.length; i++){
		    this.checkedPaths.push( this.evid.media[i].file_api );
		  }		  
		  for(var i=0; i<this.evid.related_contact.length; i++){
		    this.relatedContact.push( this.evid.related_contact[i].person_name );		
		  }
		  
		  this.default_items = this.checkedItems;
		  this.default_paths = this.checkedPaths;
        }).catch(error => {
          console.log(error);
        });
      },
      deleteEvidence() {
        var params = new URLSearchParams();
        params.append('cs_item_id', this.cs_item_id);
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));

        this.axios.post(this.$conf.API_URL + '/Evidence/DeleteEvidence', params).then((response) => {
          this.isDeleteVisible = false;
          this.$emit('evidUpdated');
        }).catch(error => {
          console.log(error);
        });
      },
	  clickPhoto() {
		this.selectModal = !this.selectModal;
	    this.$refs.photoForm.getMediaList('photo');
	  },
	  clickDeletePhoto(index){ 
	    this.checkedItems.splice(index,1);
	    this.checkedPaths.splice(index,1);
	  },
	  photoSelected() {
	    this.selectModal = !this.selectModal
		this.checkedItems = this.checkedItems;
		this.checkedPaths = this.checkedPaths;
		this.default_items = this.checkedItems;
		this.default_paths = this.checkedPaths;
	  },
	  cancelSelected() {
	    this.selectModal = !this.selectModal;
		this.checkedItems = this.default_items;
		this.checkedPaths = this.default_paths;
	  },
      getLookup() {
        this.axios.get(this.$conf.API_URL + '/Login/SyncLookup?key=evidence_category').then((response) => {
          this.ddl_category = response.data[0].content
        }).catch(error => {
          console.log(error);
        });

        this.axios.get(this.$conf.API_URL + '/Login/SyncLookup?key=evidence_biohazard').then((response) => {
          this.ddl_is_biohazard = response.data[0].content
        }).catch(error => {
          console.log(error);
        });

        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        this.axios.post(this.$conf.API_URL + '/Personnel/GetLogStaff', params).then((response) => {
          this.ddl_log_staff = response.data;
        }).catch(error => {
          console.log(error);
        });
      },
      changed() {
        this.switchField(this.obj_category.code);
      },
      switchField(type) { 
		var index = 0;
		
		for(var i=0; i<this.ddl_category.length; i++) {
		  if(this.ddl_category[i].code == type) {
		    index = i;
		    break;
		  }
		}
        this.ddl_subcategory = this.ddl_category[index].subcategory;
		
        switch (type) {
          case '1':
            this.fieldIsShow = this.$conf.EVID_WE;
            break;
          case '2':
            this.fieldIsShow = this.$conf.EVID_VE;
            break;
          case '3':
            this.fieldIsShow = this.$conf.EVID_CU;
            break;
          default:
            this.fieldIsShow = this.$conf.EVID_DE;
            break;
        }
      },
      resetForm() {
        this.evid = [];
        this.obj_category = [],
        this.obj_subcategory = [],
        this.obj_is_biohazard = [],
        this.obj_found_by = [],
        this.checkedItems = [],
        this.checkedPaths = [],
        this.relatedContact = [],
		this.found_date = '',
		this.found_time = '',
        this.fieldIsShow = this.$conf.EVID_DE;
      },
      closeModal() {
        this.$emit('closeModal');
      },
      showDeleteModal() {
        this.isDeleteVisible = true;
      },
      closeDeleteModal() {
        this.isDeleteVisible = false;
      },
	  checkForm() {	
	    if( !this.obj_category.code || !this.obj_is_biohazard.code || !this.evid.item_no || !this.evid.found_loc || !this.obj_found_by.cs_person_id 
	      || !this.evid.item_brief_desc ) {
	      this.$message.error(this.$t('Message.RequiredField'));
	      return false;
	    }
	    else if((!(!this.found_date) && !this.found_time) || ( !this.found_date && !(!this.found_time) ))
	    {
	      this.$message.error(this.$t('Message.FillDateOrTime'));
	      return false;	    
	    }
	    else{
	      this.editEvidence();
	    }
	  }
    },
    beforeMount() {
      this.getLookup();
      this.fieldIsShow = this.$conf.EVID_DE;	  
	  this.isEdit = (sessionStorage.getItem('is_edit') == 'true') ? true : false;
	  
      var params = new URLSearchParams();
      params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
      params.append('staff_id', sessionStorage.getItem('staff_id'));
      params.append('token', sessionStorage.getItem('token'));
	  
      this.axios.post(this.$conf.API_URL + '/Personnel/GetContactList', params).then((response) => {
		var row = response.data;	
        for(var i=0; i<row.length; i++){
		  this.allContact.push({value: row[i].person_name, label: row[i].person_type, cs_person_id: row[i].cs_person_id });
		}
      }).catch(error => {
        console.log(error);
      });
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
