<template>

  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="field">
        <label class="label req">{{$t('Field.CrimeType')}}</label>
        <div class="control">
          <el-select v-model="crimeType" value-key="code" :placeholder="$t('Button.Select')" ref="crime_type">
            <el-option
              v-for="item in types"
              :key="item.code"
              :label="item.value"
              :value="item">
            </el-option>
          </el-select>
        </div>
      </div>
    </div>

    <div class="column is-6">
      <div class="field">
        <label class="label req">{{$t('Field.ReceivedDate')}}</label>
        <div class="control">
          <el-date-picker
            v-model="recDate"
            type="date"
            format="MM/dd/yyyy"
            prefix-icon="icon-rs-log-date"
			ref="receive_date"
            :placeholder="$t('Button.SelectDate')"
			:picker-options="dateValidation">
          </el-date-picker>
        </div>
      </div>
    </div>

    <div class="column is-6">
      <div class="field">
        <label class="label req">{{$t('Field.ReceivedTime')}}</label>
        <div class="control">
          <el-time-picker
            arrow-control
            v-model="recTime"
            value-format="HH:mm"
			format="HH:mm"
            prefix-icon="icon-rs-log-choosetime"
			ref="receive_time"
            :placeholder="$t('Button.SelectTime')">
          </el-time-picker>
        </div>
      </div>
    </div>

    <div class="column is-6">
      <div class="field">
        <label class="label">{{$t('Field.County')}}</label>
        <div class="control">
          <input class="input" type="text" ref="county" maxlength="10">
        </div>
      </div>
    </div>

    <div class="column is-6">
      <div class="field">
        <label class="label">{{$t('Field.Municipality')}}</label>
        <div class="control">
          <input class="input" type="text" ref="municipality" maxlength="10">
        </div>
      </div>
    </div>

    <div class="column is-12">
      <div class="field">
        <label class="label req">{{$t('Field.Address')}}</label>
        <div class="control">
          <input class="input" type="text" ref="address">
        </div>
      </div>
    </div>

    <div class="column is-6">
      <div class="field">
        <label class="label">{{$t('Field.Humidity')}}</label>
        <div class="control has-icons-right">
          <input class="input" type="text" ref="humidity" onkeyup="value=value.replace(/[^\d\.]/g,'')" maxlength="4">
          <span class="icon is-right">%</span>
        </div>
      </div>
    </div>

    <div class="column is-4">
      <div class="field">
        <label class="label">{{$t('Field.Temperature')}}</label>
        <div class="control">
          <input class="input" type="text" ref="temperature" onkeyup="value=value.replace(/[^\d\.]/g,'')" maxlength="4">
        </div>
      </div>
    </div>

	
    <div class="column is-2">
      <div class="field">
        <label class="label">&nbsp;</label>
        <div class="control">
          <el-select v-model="temperature_flag" value-key="code" placeholder="Select">
            <el-option value="C" selected>&deg; C</el-option>
            <el-option value="F">&deg; F</el-option>
          </el-select>
        </div>
      </div>
    </div>

    <div class="column is-12">
      <div class="field">
        <label class="label">{{$t('Field.Note')}}</label>
        <div class="control">
          <textarea class="textarea" placeholder="" ref="note"></textarea>
        </div>
      </div>
    </div>
	 
	
	<!-- Footer -->
	<div slot="footer" class="btn-group has-text-centered mt-3">
	  <button class="button is-large" aria-label="Cancel" @click="closeModal">{{$t('Button.Cancel')}}</button>
	  <button class="button is-large is-primary" @click="checkForm" >{{$t('Button.Save')}}</button>
	</div>
	
  </div>
</template>

<script>
import moment from 'moment';

export default {
  name: 'addeditlog',
  props: {
	act:{
	  type: String,
      required: true
	},
	crimeType:{
	  type: Array,
      required: false
	},
	recDate:{
	  type: String,
      required: false
	},
	recTime:{
	  type: String,
      required: false
	},
	temperature_flag:{
	  type: String,
      required: false
	}
  },
  data: function () {
    return {
      types: [],
	  dateValidation: {
	    disabledDate(time) {
		  return time.getTime() > Date.now();
	    },
      }
    };
  },
  methods: {
    async editLogInfo() {	
	  var geo = await this.axios.get('https://maps.googleapis.com/maps/api/geocode/json?address=' + this.$refs.address.value
		).then((response) => {
			if( !response.results[0] ) {
			  return { lat: 0, lng: 0 };
			}else{
			  return response.results[0].geometry.location;
			}
	    }).catch(error => {
			console.log(error);
	    });	
		
	  var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('crime_type', this.crimeType.code );
		
        params.append('receive_datetime', moment(this.$refs.receive_date.value).format('M/D/YYYY') + ' ' + this.$refs.receive_time.value );
        params.append('county', this.$refs.county.value );
        params.append('municipality', this.$refs.municipality.value );
        params.append('address', this.$refs.address.value );
        params.append('lat', geo.lat );
        params.append('lon', geo.lng );
        params.append('humidity', this.$refs.humidity.value );
        params.append('temperature', this.$refs.temperature.value );
        params.append('temperature_flag', this.temperature_flag );
        params.append('note', this.$refs.note.value );
		
      if(this.act == 'update'){
        this.axios.post(this.$conf.API_URL + '/SceneLog/UpdateLogInfo', params)
          .then((response) => {
            this.$emit('logUpdated');	
          }).catch(error => {
            console.log(error);
        });
      }else{
        this.axios.post(this.$conf.API_URL + '/SceneLog/AddLogInfo', params
          ).then((response) => {		  
              this.$emit('logUpdated');
          }).catch(error => {
            console.log(error);
        });
      }	  
      this.resetForm();
    },
	getLookup() {
	  this.axios.get(this.$conf.API_URL + '/login/syncLookup?key=crime_type'
		).then((response) => {
			this.types = response.data[0].content
		}).catch(error => {
			console.log(error);
	  });		
	},
    closeModal() {
	  if(this.act == 'act') this.resetForm();
      this.$emit('closeModal');
    },
	checkForm() {
	  if( !this.crimeType || !this.$refs.receive_date.value || !this.$refs.receive_time.value || !this.$refs.address.value ) {
	    this.$message.error(this.$t('Message.RequiredField'));
		return false;
	  }else{
		this.editLogInfo();
	  }
	},
	resetForm() {
	  this.crimeType = [],
	  this.recDate = '',
	  this.recTime = '',
	  this.$refs.county.value = '',
	  this.$refs.municipality.value = '',
	  this.$refs.address.value = '',
	  this.$refs.humidity.value = '',
	  this.$refs.temperature.value = '',
	  this.temperature_flag = [],
	  this.$refs.note.value = ''
	}
  },
  beforeMount() {
	  this.getLookup();
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>