<template>
  <transition name="modal-fade">
    <div class="modal-backdrop">
      <div class="modalbox" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription">
        <button href="#" class="modalbox-btn-close" @click="close" aria-label="Close modal"><i class="icon-rs-delete"></i></button>

        <header class="modalbox-header" id="modalTitle">
          <slot name="header"></slot>
        </header>

        <section class="modalbox-body" id="modalDescription">
          <slot name="body">
            No data available
          </slot>
        </section>

        <footer class="modalbox-footer">
          <slot name="footer"></slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'modal',
  methods: {
    close() {
      this.$emit('close');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
