<template>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <router-link to="/inbox" class="navbar-item navbar-brand-title">Rolmes</router-link>
      </div>
      <div class="navbar-menu">
        <!-- HEADER TITLE -->
        <div class="navbar-start">
          <slot name="title"></slot>
        </div>
        <!-- HEADER MENU -->
        <div class="navbar-end">
          <router-link to="/kb" class="navbar-item is-hoverable">
            <i class="navbar-item__icon icon-rs-top-kb"></i>
          </router-link>

          <a class="navbar-item has-dropdown is-hoverable">
            <i class="navbar-item__icon icon-globe"></i>
            <div class="navbar-dropdown">
              <a href="#" class="navbar-dropdown__item" @click="changeLang('en-US')">English</a>
              <a href="#" class="navbar-dropdown__item is-active" @click="changeLang('zh-TW')">繁體中文</a>
              <a href="#" class="navbar-dropdown__item is-active" @click="changeLang('zh-CN')">简体中文</a>
            </div>
          </a>

          <a class="navbar-item has-dropdown is-hoverable">
            <i class="navbar-item__icon icon-rs-top-menu"></i>
            <div class="navbar-dropdown">
              <router-link to="/settings" class="navbar-dropdown__item">{{$t('Message.Setting')}}</router-link>
			  <a href="#" class="navbar-dropdown__item" @click="logout()">{{$t('Button.Logout')}}</a>
              <hr class="navbar-divider">
              <div class="navbar-dropdown__text">
                Version 0.0.1
              </div>
            </div>
          </a>
        </div>

      </div>
    </nav>

</template>

<script>
import router from '../../router';

export default {
  name: 'nav-header',
  methods: {
    changeLang(lang) {
	  sessionStorage.setItem('language', lang);
	  this.$router.go();
	},
	logout() {
	  sessionStorage.removeItem('staff_id');
	  sessionStorage.removeItem('cs_log_id');
	  router.push({ 'path': '/' });
	}
  },
  beforeMount() {
	this.$i18n.locale = sessionStorage.getItem('language');  
    this.axios.defaults.headers.common['Accept-Language'] = sessionStorage.getItem('language');
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
