<template>
  <div>
    <el-checkbox :indeterminate="isIndeterminate" v-model="selectAll" class="hide">
      <div class="subtitle is-4 mb-2">
        <i class="el-icon-success"></i> {{$t('Button.SelectAll')}}
      </div>
    </el-checkbox>

    <div class="photo">
      <el-checkbox-group v-model="checkedItems" v-for="(photo, index) in selectContainer" :key="index" class="el-photo-checkbox" @change="handlecheckedItemsChange(photo)">
        <el-checkbox :label="photo.cs_media_id" border>
          <i v-if="photo.is_Linked == '1'" class="photo__icon icon-rs-log-linkcase"></i>
          <div class="photo__content">
            <img :src="photo.file_api" alt="photo">
          </div>
        </el-checkbox>
      </el-checkbox-group>
    </div>

  </div>
</template>

<script>

  export default {
    name: 'remotephotos',
    props: {      
      resetChecked: {
        type: Array,
        required: true
      },
	  resetPaths: {
        type: Array,
        required: true
      }
    },
    data() {
      return {
        selectContainer: [],
        checkedItems: [],
        checkedPaths: [],
        isIndeterminate: false,
      };
    },
    methods: {
      handlecheckedItemsChange(value) { 
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.selectContainer.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.selectContainer.length;
		
		if(this.checkedPaths.includes(value.file_api)){
		  var index = this.checkedPaths.indexOf(value.file_api);
		  this.checkedPaths.splice(index,1);
		}else{
		  this.checkedPaths.push(value.file_api);
		}		

        this.$emit('selectedItems', this.checkedItems);
        this.$emit('selectedPaths', this.checkedPaths);		
      },
      getMediaList(type) {
        var params = new URLSearchParams();
        params.append('cs_log_id', sessionStorage.getItem('cs_log_id'));
        params.append('staff_id', sessionStorage.getItem('staff_id'));
        params.append('token', sessionStorage.getItem('token'));
        params.append('type', type);

        this.axios.post(this.$conf.API_URL + '/Media/GetMediaList', params)
          .then((response) => {
            this.selectContainer = response.data.media_data
          }).catch(error => {
            console.log(error);
        });
      }
    },
    computed: {
      selectAll: {
        get: function() {
          return this.selectContainer ? this.checkedItems.length == this.selectContainer.length : false;
        },
        set: function(value) {
          var checkedItems = [];
          var checkedPaths = [];

          if (value) { 
            this.selectContainer.forEach(function(user) {console.log(user)
              checkedItems.push(user.cs_media_id);
              checkedPaths.push(user.file_api);
            });
          }
          this.checkedItems = checkedItems;
          this.checkedPaths = checkedPaths;
        }
      }
    },
    watch: {
      resetChecked: function (val, oldVal) {
        this.checkedItems = this.resetChecked;
      },
      resetPaths: function (val, oldVal) {
        this.checkedPaths = this.resetPaths;
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
