<template>
  <div>
    <div class="columns">
      <div class="column">
        <input type="email" maxlength="30" class="form-control" id="forgotEmail" placeholder="Email" v-model="email" required>
      </div>
    </div>
  
    <div class="has-text-centered">
	  <a href="#" class="button is-primary is-large is-fullwidth mt-2" @click="sendEmailResetPwd">SEND</a>
    </div>
  </div>
</template>

<script>
  import router from '../../router';
  
  export default {
    name: 'resetpw',
    data() {
      return {
        email: ''
      };
    },
    methods: {
      sendEmailResetPwd() {
        var params = new URLSearchParams();
        params.append('email', this.email);

        this.axios.post(this.$conf.API_URL + '/Login/SendEmailResetPwd', params)
          .then((response) => {
		    router.push({
              'path': '/forgot-pw' })
          }).catch(error => {
            console.log(error);
        });	  
	  }
	}	
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
