<template>

  <div>
    <div class="field">
      <div class="control">
        <!-- <input class="input" type="text" v-model="newEmail"> -->
        <el-autocomplete
          class="el-input el-input-group"
          v-model="email"
          :fetch-suggestions="querySearch"
          :placeholder="$t('Message.PleaseInput')"
          @select="handleSelect">
        </el-autocomplete>
        <div class="control__button">
          <button type="button" class="button btn-input" @click="act = 'add'; editShare();">{{$t('Button.Share')}}</button>
        </div>
      </div>
    </div>

    <div class="field">
      <label class="label" v-if="isShowCaption">{{$t('Message.ShareTo')}}</label>
      <div class="field is-grouped is-grouped-multiline">
          <div class="control" v-for="item in log_shared_user">
            <div class="tags">
              <a class="tag is-secondary is-large">{{item.email}}</a>
            </div>
          </div>

          <div class="control" v-for="item in log_waiting_user">
            <div class="tags has-addons">
              <a class="tag is-large">{{item.email}}</a>
              <a class="tag is-delete is-large" @click="deleteShare(item.email)"></a>
            </div>
          </div>
      </div>
    </div>
  </div>

</template>

<script>
  
export default {
  name: 'sharelog',
  data() {
    return {
      deleteModal: false,
	  act: 'add',
	  log_shared_user: [],
	  log_waiting_user: [],
      email: '',
      allemails: [],
	  isShowCaption: false
    };
  },
  methods: {
    editShare: function(val) {
      var params = new URLSearchParams();
      params.append('staff_id', sessionStorage.getItem('staff_id'));
      params.append('token', sessionStorage.getItem('token') );
      params.append('server_log_id', sessionStorage.getItem('cs_log_id') );
      params.append('action', this.act );
      params.append('share', '[{"email":"' + this.email + '"}]' );
				
      this.axios.post(this.$conf.API_URL + '/ShareLog/ShareLog', params)
        .then((response) => {
		  this.email = '';
		  this.log_shared_user = [];
		  this.log_waiting_user = [];
		  this.getSharedStatus();
        }).catch(error => {
          console.log(error);
      });
    },
    querySearch(queryString, cb) { 
        var emails = this.allemails;
        var results = queryString ? emails.filter(this.createFilter(queryString)) : emails;
        // call callback function to return suggestions
        cb(results);
    },
    createFilter(queryString) { 
      return (link) => {
        return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    handleSelect(item) { 
	  this.email = item.value;
    },
	getSharedStatus() {
      var params = new URLSearchParams();
      params.append('staff_id', sessionStorage.getItem('staff_id'));
      params.append('token', sessionStorage.getItem('token') );
      params.append('server_log_id', sessionStorage.getItem('cs_log_id') );
		
      this.axios.post(this.$conf.API_URL + '/ShareLog/GetSharedStatus', params)
        .then((response) => {
		  this.log_shared_user = response.data.log_shared_user;
		  this.log_waiting_user = response.data.log_waiting_user;
		  this.isShowCaption = (response.data.log_shared_user == [] && response.data.log_waiting_user == []) ? false : true;
        }).catch(error => {
          console.log(error);
      });
	},
	getPersonHistorySharedEmail() {
      var params = new URLSearchParams();
      params.append('staff_id', sessionStorage.getItem('staff_id'));
      params.append('token', sessionStorage.getItem('token'));
		
      this.axios.post(this.$conf.API_URL + '/ShareLog/GetPersonHistorySharedEmail', params)
        .then((response) => {
		  this.allemails = response.data;
        }).catch(error => {
          console.log(error);
      });
	},
	deleteShare(mail) {
	  this.act = 'cancel';
	  this.email = mail;
	  this.editShare();
	}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
