<template>

    <nav class="menubar">
        <router-link :to="'/log/' + $route.params.cs_log_no" class="menubar__item" tag="li" :class="{ 'is-active': $route.name === 'BasicInfo' || $route.name === 'Personnel' }">
          <a>
            <i class="menubar__icon icon-rs-bar-info"></i>
            <span class="menubar__text">{{$t('Menu.BasicInfo')}}</span>
          </a>
        </router-link>
        <router-link :to="'/entrance/' + $route.params.cs_log_no" class="menubar__item" tag="li" :class="{ 'is-active': $route.name === 'EntranceLog' || $route.name === 'EntranceHistory' }">
          <a>
            <i class="menubar__icon icon-rs-bar-entrylog"></i>
            <span class="menubar__text">{{$t('Menu.EntranceLog')}}</span>
          </a>
        </router-link>
        <router-link :to="'/photo-video/' + $route.params.cs_log_no" class="menubar__item" tag="li" active-class="is-active">
          <a>
            <i class="menubar__icon icon-rs-bar-photo"></i>
            <span class="menubar__text">{{$t('Menu.PhotoVideo')}}</span>
          </a>
        </router-link>
        <router-link :to="'/evidence/' + $route.params.cs_log_no" class="menubar__item" tag="li"  :class="{ 'is-active': $route.name === 'Evidence' || $route.name === 'EvidenceCategory' }">
          <a>
            <i class="menubar__icon icon-rs-bar-evidence"></i>
            <span class="menubar__text">{{$t('Menu.Evidence')}}</span>
          </a>
        </router-link>
        <router-link :to="'/contact/' + $route.params.cs_log_no" class="menubar__item" tag="li" active-class="is-active">
          <a>
            <i class="menubar__icon icon-rs-bar-party"></i>
            <span class="menubar__text">{{$t('Menu.Contact')}}</span>
          </a>
        </router-link>
    </nav>

</template>

<script>
export default {
  name: 'side-menu',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
