<template>
  <div>
    <div class="columns is-multiline">
      <div class="column is-12">
        <input type="email" maxlength="30" class="form-control" id="Email" placeholder="Email" required>
      </div>
      <div class="column is-12">
        <input type="password" maxlength="20" class="form-control" id="Password" placeholder="Password" required>
      </div>
    </div>

    <div class="has-text-centered">
      <router-line to="/inbox" class="button is-primary is-large is-fullwidth mt-2" @click="Login">SIGN IN</router-line>
    </div>
  </div>
</template>

<script>
  import router from '../../router';
  import modal from '../parts/_Modal.vue';

  export default {
    name: 'signin',
    components: {
      modal,
    },
    date() {
      return {
      };
    },
    methods: {
      Login() {
	  
        var params = new URLSearchParams();
        params.append('login_id', document.getElementById("Email").value);
        params.append('pwd', document.getElementById("Password").value);
		
        this.axios.post(this.$conf.API_URL + '/Login/LoginWeb', params)
          .then((response) => {		  
            sessionStorage.setItem('staff_id', response.data.staff_id);
            sessionStorage.setItem('token', response.data.token);
            sessionStorage.setItem('language', 'en');
			  
            router.push({ 'path' : '/inbox' });
          });
      },
	  openLoad() {
	  
	  }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
