<template>
  <div>
    <div id="SIGNUP">
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" class="demo-ruleForm">
        <div class="columns ptb-0 is-multiline">
          <div class="column is-half">
            <el-form-item prop="first_name">
              <el-input v-model="ruleForm.first_name" type="text" maxlength="20" placeholder="First name"></el-input>
            </el-form-item>
          </div>

          <div class="column is-half">
            <el-form-item prop="last_name">
              <el-input v-model="ruleForm.last_name" type="text" maxlength="20" placeholder="Last name"></el-input>
            </el-form-item>
          </div>

          <div class="column is-half">
            <el-form-item prop="email">
              <el-input v-model="ruleForm.email" type="email" maxlength="50" placeholder="Email"></el-input>
            </el-form-item>
          </div>

          <div class="column is-half">
            <el-form-item prop="phone">
              <el-input v-model="ruleForm.phone" type="text" maxlength="15" placeholder="Phone#"></el-input>
            </el-form-item>
          </div>

          <div class="column is-half">
            <el-form-item prop="password">
              <el-input v-model="ruleForm.password" type="password" maxlength="20" placeholder="Password" autocomplete="off"></el-input>
            </el-form-item>
          </div>

          <div class="column is-half">
            <el-form-item prop="confirm_password">
              <el-input v-model="ruleForm.confirm_password" type="password" maxlength="20" placeholder="Confirm password" autocomplete="off"></el-input>
            </el-form-item>
          </div>

          <div class="column is-half">
            <el-form-item prop="agency">
              <el-input v-model="ruleForm.agency" type="text" maxlength="20" placeholder="Agency"></el-input>
            </el-form-item>
          </div>

          <div class="column is-half">
            <el-form-item prop="job_title">
              <el-input v-model="ruleForm.job_title" type="text" maxlength="20" placeholder="Job title"></el-input>
            </el-form-item>
          </div>
        </div>
      </el-form>

      <button class="button is-primary is-large is-fullwidth mt-2" @click="submitForm('ruleForm')">SIGN UP</button>

    </div>

    <!-- POPUP -->
    <modal v-show="isModalVisible" @close="closeModal">
      <!-- Header -->
      <!-- Content -->
      <div slot="body">
        <div>
          <h1>Verify Email</h1>
          <p>Enter the verification code we sent you via email to continue.</p>

          <!-- FORM -->
          <div class="columns mt-3">
            <div class="column">
              <input maxlength="30" class="form-control" v-model="verification_code" required>
              <label for="" placeholder="Code"></label>
            </div>
          </div>
          Didn't receive the code? <a href="#" @click="resendCode">RESEND</a>
        </div>
      </div>
      <!-- Footer -->
      <div slot="footer" class="btn-group has-text-centered">
        <button class="button is-large is-primary" @click="verifyEmailCode">Verify</button>
      </div>
    </modal>
    <!-- POPUP END -->

  </div>
</template>

<script>
  import modal from '../parts/_Modal.vue';
  import router from '../../router';

  export default {
    name: 'signup',
    components: {
      modal
    },
    data() {
      var isValidPassword = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the password'));
        } else if (!isValidPassword.test(value) || value.length < 8) {
          callback(new Error('Password must be at least eight characters and contain at least one number and one lowercase letter.'));
        } else {
          if (this.ruleForm.confirm_password !== '') {
            this.$refs.ruleForm.validateField('confirm_password');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please input the password again'));
        } else if (value !== this.ruleForm.password) {
          callback(new Error('Confirm password does not match Password'));
        } else {
          callback();
        }
      };
      return {
        ruleForm: {
          first_name: '',
          last_name: '',
          email: '',
          phone: '',
          password: '',
          confirm_password: '',
          agency: '',
          job_title: '',
        },
        rules: {
          first_name: [{
            required: true,
            message: 'Please input First name',
            trigger: 'blur'
          }],
          last_name: [{
            required: true,
            message: 'Please input Last name',
            trigger: 'blur'
          }],
          email: [{
              required: true,
              message: 'Please input email address',
              trigger: 'blur'
            },
            {
              type: 'email',
              message: 'Please input correct email address',
              trigger: ['blur', 'change']
            }
          ],
          phone: [{
            required: true,
            message: 'Please input Phone number',
            trigger: 'blur'
          }],
          password: [{
            validator: validatePass,
            trigger: 'blur'
          }],
          confirm_password: [{
            validator: validatePass2,
            trigger: 'blur'
          }],
          agency: [{
            required: true,
            message: 'Please input Agency',
            trigger: 'blur'
          }],
        },
        verification_code: '',
        isModalVisible: false
      };
    },
    methods: {
      showModal() {
        this.isModalVisible = true;
      },
      closeModal() {
        this.isModalVisible = false;
      },
      checkEmailIsUsed() {
        var params = new URLSearchParams();
        params.append('email', this.ruleForm.email);

        this.axios.post(this.$conf.API_URL + '/Registration/CheckEmailIsUsed', params)
          .then((response) => {
            if (response.status == "409") {
              this.$message(response.message);
              this.$emit('showSignIn');
            } else if (response.status == "403") {
              this.$message(response.message);
              this.isModalVisible = true;
            } else {
              this.signUp();
            }
          }).catch(error => {
            console.log(error);
          });
      },
      signUp() {
        var params = new URLSearchParams();
        params.append('email', this.ruleForm.email);
        params.append('first_name', this.ruleForm.first_name);
        params.append('last_name', this.ruleForm.last_name);
        params.append('job_title', this.ruleForm.job_title);
        params.append('agency', this.ruleForm.agency);
        params.append('phone', this.ruleForm.phone);
        params.append('password', this.ruleForm.password);
        params.append('confirm_password', this.ruleForm.confirm_password);

        this.axios.post(this.$conf.API_URL + '/Registration/SignUp', params)
          .then((response) => {
            this.showModal();
            console.log(response);
          }).catch(error => {
            console.log(error);
          });
      },
      verifyEmailCode() {
        var params = new URLSearchParams();
        params.append('email', this.ruleForm.email);
        params.append('verification_code', this.verification_code);

        this.axios.post(this.$conf.API_URL + '/Registration/VerifyEmailCode', params)
          .then((response) => {
            if (response.status == "200") {
              sessionStorage.setItem('staff_id', response.data.staff_id);
              sessionStorage.setItem('token', response.data.token);
              sessionStorage.setItem('language', 'en');
			  
              router.push({ 'path': '/inbox' });
            } else {
              this.$message.error(response.message);
              this.verification_code = '';
            }
          }).catch(error => {
            console.log(error);
          });
      },
      resendCode() {
        var params = new URLSearchParams();
        params.append('email', this.ruleForm.email);

        this.axios.post(this.$conf.API_URL + '/Registration/ResendEmailVerifyCode', params)
          .then((response) => {
            this.$message('Enter the verification code we sent you via email to continue');
          }).catch(error => {
            console.log(error);
          });
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) { 
            this.checkEmailIsUsed();
          } else {
            this.$message('Please input valid data!');
            return false;
          }
        });
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
