<template>

    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <router-link to="/inbox" class="navbar-item navbar-brand-title">Rolmes</router-link>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <h3>#12468322</h3>
        </div>
        <div class="navbar-end">
          <a class="navbar-item has-dropdown is-hoverable">
            <i class="navbar-item__icon icon-globe"></i>
            <div class="navbar-dropdown">
              <router-link to="/" class="navbar-dropdown__item is-active">Chinese</router-link>
              <router-link to="/" class="navbar-dropdown__item">English</router-link>
            </div>
          </a>

          <a class="navbar-item has-dropdown is-hoverable">
            <i class="navbar-item__icon icon-rs-top-menu"></i>
            <div class="navbar-dropdown">
              <router-link to="/settings" class="navbar-dropdown__item">Setting</router-link>
              <router-link to="/" class="navbar-dropdown__item">Sign out</router-link>
              <hr class="navbar-divider">
              <div class="navbar-dropdown__text">
                Version 0.0.1
              </div>
            </div>
          </a>
        </div>
      </div>
    </nav>

</template>

<script>
export default {
  name: 'log-header',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
