<template>
  <div id="TRIAL">

    <!-- FORM -->
      <div class="columns is-multiline">
        <div class="column is-half">
          <input type="text" maxlength="30" class="form-control" id="txtFirstName" placeholder="First Name" required>
        </div>
        <div class="column is-half">
          <input type="text" maxlength="30" class="form-control" id="txtLastName" placeholder="Last Name" required>
        </div>
        <div class="column is-half">
          <input type="email" maxlength="50" class="form-control" id="txtEmail" placeholder="Email" required>
        </div>
        <div class="column is-half">
          <input type="text" maxlength="20" class="form-control" id="txtPhone" placeholder="Phone" required>
        </div>
        <div class="column is-12">
          <input type="text" maxlength="50" class="form-control" id="txtStreet1" placeholder="Street" required>
        </div>
        <div class="column is-one-third">
          <input type="text" maxlength="20" class="form-control" id="txtCity" placeholder="City" required>
        </div>
        <div class="column is-one-third">
          <select id="ddlState" class="form-control" required>
                                  <option value="" disabled selected hidden>State</option>
                                  <option value="AK">AK</option>
                                  <option value="AL">AL</option>
                                  <option value="AM">AM</option>
                                  <option value="AR">AR</option>
                                  <option value="AZ">AZ</option>
                                  <option value="BK">BK</option>
                                  <option value="CA">CA</option>
                                  <option value="CG">CG</option>
                                  <option value="CN">CN</option>
                                  <option value="CO">CO</option>
                                  <option value="CT">CT</option>
                                  <option value="CZ">CZ</option>
                                  <option value="DC">DC</option>
                                  <option value="DE">DE</option>
                                  <option value="FL">FL</option>
                                  <option value="GA">GA</option>
                                  <option value="GM">GM</option>
                                  <option value="HI">HI</option>
                                  <option value="HO">HO</option>
                                  <option value="IA">IA</option>
                                  <option value="ID">ID</option>
                                  <option value="IL">IL</option>
                                  <option value="IN">IN</option>
                                  <option value="JI">JI</option>
                                  <option value="JR">JR</option>
                                  <option value="KI">KI</option>
                                  <option value="KS">KS</option>
                                  <option value="KY">KY</option>
                                  <option value="LA">LA</option>
                                  <option value="MA">MA</option>
                                  <option value="MD">MD</option>
                                  <option value="ME">ME</option>
                                  <option value="MH">MH</option>
                                  <option value="MI">MI</option>
                                  <option value="MK">MK</option>
                                  <option value="MN">MN</option>
                                  <option value="MO">MO</option>
                                  <option value="MS">MS</option>
                                  <option value="MT">MT</option>
                                  <option value="MW">MW</option>
                                  <option value="NB">NB</option>
                                  <option value="NC">NC</option>
                                  <option value="ND">ND</option>
                                  <option value="NE">NE</option>
                                  <option value="NH">NH</option>
                                  <option value="NJ">NJ</option>
                                  <option value="NM">NM</option>
                                  <option value="NV">NV</option>
                                  <option value="NY">NY</option>
                                  <option value="OH">OH</option>
                                  <option value="OK">OK</option>
                                  <option value="OR">OR</option>
                                  <option value="PA">PA</option>
                                  <option value="PL">PL</option>
                                  <option value="PR">PR</option>
                                  <option value="RI">RI</option>
                                  <option value="SC">SC</option>
                                  <option value="SD">SD</option>
                                  <option value="TN">TN</option>
                                  <option value="TX">TX</option>
                                  <option value="UT">UT</option>
                                  <option value="VA">VA</option>
                                  <option value="VI">VI</option>
                                  <option value="VL">VL</option>
                                  <option value="VT">VT</option>
                                  <option value="WA">WA</option>
                                  <option value="WI">WI</option>
                                  <option value="WK">WK</option>
                                  <option value="WV">WV</option>
                                  <option value="WY">WY</option>

                              </select>
        </div>
        <div class="column is-one-third">
          <input type="text" maxlength="20" class="form-control" id="txtZip" placeholder="Zip" required>
        </div>
        <div class="column is-one-third">
          <input type="text" class="form-control" id="txtAgencyName" placeholder="Agency Name" required>
        </div>
        <div class="column is-one-third">
          <select id="ddlSize" class="form-control" required>
                  <option value="" disabled selected hidden>Employees</option>
                  <option value="1">Less than 15</option>
                  <option value="2">16 - 50</option>
                  <option value="3">51 - 100</option>
                  <option value="4">101 - 300</option>
                  <option value="5">301 - 1,250</option>
                  <option value="6">over 1,250</option>
              </select>
        </div>
        <div class="column is-one-third">
          <input type="text" class="form-control" id="txtDomainName" placeholder="Domain Name" required>
        </div>
      </div>

      <input type="hidden" name="hdnTrialProduct" id="hdnTrialProduct">
      <button id="btnSubmitTrialProduct" type="submit" class="button is-primary is-large is-fullwidth">Submit</button>
    <!-- END FORM -->

  </div>
</template>

<script>
  export default {
    name: 'trialform',
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

</style>
