<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style lang="sass">
@import 'assets/font/rolmes/style.css'
@import 'assets/sass/app'

#app
  width: 100%
  height: 100vh

</style>
