.accordion
  // Hide checkbox
  appearance: none
  left: -100%
  position: absolute
  top: -100%

  // Style the label text
  & + label
    cursor: pointer
    font-size: 1.5rem
    padding-left: 2rem


    // Add the '+' sign
    span::before
        color: $medium-gray
        content: '\25BA'
        position: absolute
        left: 0px


  // Hide the article if the checkbox is unchecked
  & ~ article
    height: 0px
    opacity: 0
    overflow: hidden
    padding: 10px 5px
    transition: height .5 ease, opacity .5 ease


  &:checked
    // Add the '' sign to each expanded dropdown item
    & + label span::before
      content: '\25BC'

    // Show the article if the checkbox is checked
    & ~ article
        height: 100%
        opacity: 1
