
html
  font-size: 12px
  -ms-overflow-style: -ms-autohiding-scrollbar

body, button, input, select, textarea
  font-family: $global-font-type

body
    overflow-y: auto
    overflow-x: hidden
    color: $black
    font-size: 1.3rem

button
  outline: none

a,
  &:active
  color: $link

  &:hover,
  &:focus
    color: $link-hover

a,
  &:hover,
  &:active,
  &:focus
    text-decoration: none


  select:invalid
    color: #999 !important
    font-weight: 300 !important


input,
textarea,
select
  font-family: inherit
  /* 1 */
  font-size: 1.2rem
  /* 2 */
  margin: 0
  /* 3 */
  box-sizing: border-box

hr
  background-color: rgba($medium-gray, .35)
  height: 1px

main
  display: block
  padding: 0 3rem 2rem

  +tablet-only
    padding: 0 2rem 2rem

section
  position: relative

video
  width: 100%

.app-content
  height: 100vh

.container
  width: 100%
  max-width: 100%
  overflow-y: auto

  &.inbox-bg
    background-color: $light-gray
    height: calc(100vh - 66px)

  .columns
    margin: 0
    width: 100%

    &:last-child
      margin-bottom: 0

    &.is-gapless > .column
      margin: -1px 0 0

.image
  img
    width: 64px
    height: 64px

.columns
  &.ptb-0
    .column
      padding-top: 0
      padding-bottom: .5rem



