.button
  min-width: 9rem
  text-transform: uppercase;
  background-color: $medium-gray
  color: $white
  border-color: transparent;

  i
    font-size: 2.25rem
    margin-right: .5rem

  &:hover,
  &:active,
  &:focus
    color: $white
    background-color: darken($medium-gray, 5)
    border-color: transparent;

  &.is-secondary
    background-color: $secondary
    border-color: transparent
    color: $white

    &:hover
      background-color: darken($secondary, 5)

  &.is-tertiary
    background-color: $tertiary
    border-color: transparent
    color: $white

  &.is-outlined
    background-color: transparent
    color: $white
    border-color: $light-gray

    &:hover
      color: $primary
      border-color: $primary

.btn-group

  .button
    &:not(:last-child)
      margin-right: 1rem

.btn-input
  min-width: auto
  font-size: 1.3rem
  background-color: $primary-dark
  color: $white
  border-color: $primary-dark
  height: initial

  &:hover,
  &:active,
  &:focus
    color: $white
    background-color: darken($primary-dark, 5)
    border-color: $primary-dark

.file
  &.is-fullwidth
    display: flex
    width: 100%

.avatar-uploader
  background-color: darken($light-gray, 5)
  cursor: pointer
  position: relative
  overflow: hidden
  display: flex
  justify-content: center
  width: 100%
  &:hover
    background-color: darken($light-gray, 10)

  .avatar-uploader-icon
    font-size: 3rem
    color: $white
    width: 100%
    height: 20rem
    line-height: 20rem
    text-align: center

  .avatar
    max-width: inherit
    height: 20rem
    display: block

