.cards
  // display: grid
  // display: -ms-grid
  // grid-template-columns: repeat(3, 1fr)
  // -ms-grid-columns: 1fr 1fr 1fr
  // grid-gap: $gap / 2
  display: flex
  flex-wrap: wrap


  +widescreen
    // grid-template-columns: repeat(4, 1fr)
    // -ms-grid-columns: 1fr 1fr 1fr 1fr

  &.has-border
    .card-content
      border: 1px solid $light-gray
      display: flex
      align-items: center

.card
  color: inherit
  box-shadow: none
  position: relative
  width: 50%
  padding: 0 1rem 2rem
  background-color: transparent

  +widescreen
    width: 33.33%

  &-content
    background-color: $white
    height: 100%
    &:hover
      box-shadow: 0 .2rem .5rem rgba($medium-gray, .5)
      cursor: pointer

    .media-left
      display: flex

  &.tag-new
    &::after
      content: 'New'
      position: absolute
      top: 0
      right: 0
      width: 50px
      height: 45px
      font-size: 1rem
      color: $white
      text-align: right
      padding: .3rem
      background-color: $tertiary
      clip-path: polygon(0 0, 100% 100%, 100% 0)


  &-title
    font-size: 1.8rem
    color: $primary-light
    margin-bottom: 1rem

  &__item
    display: grid
    grid-template-columns: 2rem 1fr

    &-icon
      color: rgba($medium-gray, .5)
      line-height: 1.8rem

