/////////////////////////////////////////////////////
// LOGIN BOX
.login-box
    @include center
    background-color: $dark-gray
    padding: 4rem 6rem
    text-align: center


/////////////////////////////////////////////////////
// HEADER
.header
  margin: 3rem

  +tablet-only
    margin: 2rem

/////////////////////////////////////////////////////
// TABS
.tabs
  &.is-toggle a
    min-width: 13rem

  &.is-boxed li.is-active a
    background-color: $primary-dark
    color: $white


/////////////////////////////////////////////////////
// BAR-CONTAINER
.bar-container
  display: flex
  align-content: stretch
  height: calc(100% - 60px)


/////////////////////////////////////////////////////
// TAB INFO
.info
  font-size: 1.8rem
  color: $secondary
  display: flex

  &__icon
    font-size: 3.5rem
    margin-right: .5rem

  .title,
  .subtitle
    color: inherit


/////////////////////////////////////////////////////
// SUMMARY
.summary
  display: grid
  grid-template-rows: repeat(3, 6.5rem)
  grid-template-columns: repeat(3, 1fr)
  margin: 0 auto

  &__items
    border: 1px solid $light-gray
    display: flex
    flex-direction: column
    height: 100%
    margin-top: -1px
    margin-left: -1px

  &__item
    display: flex
    font-size: 1.5rem
    border: 1px solid $light-gray
    padding: 1rem
    margin-top: -1px
    margin-left: -1px
    height: 100%

    &.medium
      grid-area: 3 / 1 / 5 / 3

  &__icon
    background-color: rgba($medium-gray, .5)
    color: $white
    font-size: 1.5rem
    border-radius: 50%
    width: 32px
    height: 32px
    margin-right: 1rem
    padding: 7px


  &__content
    display: block
    width: 100%

  &__map
    margin-top: 1rem


/////////////////////////////////////////////////////
// Image
.media
  align-items: center

.image
  img
    border-radius: 50%

/////////////////////////////////////////////////////
// PHOTO VIDEO
.photo, .video
  display: flex
  margin: 0 -1rem
  flex-wrap: wrap

  &__item
    position: relative
    margin: 1rem

  &__icon
    position: absolute
    left: .8rem
    top: 8rem
    width: 24px
    height: 24px
    background-color: $medium-gray
    color: $white
    border-radius: 50%
    padding: 5px

    &.top
      top: -.3rem
      right: -.3rem

  &__content
    display: grid
    text-align: center
    background-color: $light-gray
    cursor: pointer
    width: 128px
    height: 128px
    overflow: hidden
    display: flex
    justify-content: center
    img
      height: 100%
      max-width: fit-content

    &-text
      padding: .25rem .5rem
      color: $dark-gray
      font-size: 1rem
      text-align: center
      background-color: $light-gray

    &.selected
      border: 4px solid $primary-light

.video
  &__icon
    position: absolute
    left: .8rem
    top: 10.5rem
    width: 24px
    height: 24px
    background-color: $medium-gray
    color: $white
    border-radius: 50%
    padding: 5px

  &__content
    width: 285px
    height: 160px
    &::after
      +center
      content: '\25BA'
      padding: .5rem 1rem
      color: $white
      font-size: 2rem
      background-color: rgba($dark-gray, .7)
      border-radius: 5px


/////////////////////////////////////////////////////
// ADD PHOTO LIST
.addphoto-list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  justify-content: center
  align-items: stretch
  grid-gap: 1.5rem

  &__icon
    position: absolute
    top: 0
    right: 0
    width: 4rem
    height: 4rem
    clip-path: polygon(0 0, 100% 0, 100% 100%)
    background-color: rgba($dark-gray, .8)
    i
      position: absolute
      top: .5rem
      right: .5rem
      font-size: 1.3rem
      color: $white


  &__item
    background-color: darken($light-gray, 5)
    position: relative
    line-height: 0
    height: 10rem
    overflow: hidden
    text-align: center
    cursor: pointer
    display: flex
    justify-content: center

    img
      height: 100%
      max-width: initial

    &:hover
      background-color: darken($light-gray, 10)

    &:first-child
      grid-column: 1 / -1
      height: 20rem

    &-add
      +center
      font-size: 3rem
      color: $white


/////////////////////////////////////////////////////
// KB
.kb-content
  width: 100%
  padding: 2rem
  box-shadow: $shadow

.kb-subtitle
  line-height: 3rem

.kb-list
  padding-right: 2rem
  &__item
    padding: .75rem 1.5rem
    border-bottom: 1px solid $light-gray
    position: relative
    cursor: pointer

    &.is-active
      background-color: $primary
      color: $white

      &::after
        content: ""
        position: absolute
        right: -2rem
        top: 0
        width: 2rem
        height: 100%
        clip-path: polygon(100% 50%, 0 0, 0 100%);
        background-color: $primary

.el-tree
  color: $black

.el-tree-node
  white-space: pre-wrap

  &__content
    padding-left: 0 !important
    padding-top: .8rem
    padding-bottom: .8rem
    height: auto

    .el-tree-node__label
      font-size: 1.5rem
      text-indent: -1.5rem
      margin-left: 1.5rem

  &__children
    padding-left: 2rem

    .el-tree-node__content
      border-top: 1px solid $light-gray

    .el-tree-node__label
      font-size: 1.3rem

  .el-tree-node:focus>.el-tree-node__content
    background-color: $primary-color
    color: $white

/////////////////////////////////////////////////////
// BADGE
.badge
  border-radius: 50px
  background-color: $tertiary
  padding: .25rem
  color: $white
  font-size: 1rem


/////////////////////////////////////////////////////
// TAG
a.tag:hover
  text-decoration: none


/////////////////////////////////////////////////////
// PAGINATION
.el-pager li.active
  color: $primary

/////////////////////////////////////////////////////
// PAGINATION
.entryinfo
  display: flex
  align-items: center

  .icon
    margin-right: 1rem
