select
  text-indent: .5rem
  &:invalid
    color: #999 !important

::placeholder
  color: #999 !important

.input,
.select,
.radio,
.textarea
  font-size: 1.3rem
  color: $body-font-color

.input,
.textarea,
  box-shadow: none
  border-radius: $input-radius
  background-color: $light-gray
  border: none

.field
  &:not(:last-child)
    margin-bottom: 1.2rem

.input
  flex: 1 1 auto
  height: 40px

  &.is-search
    border-bottom: 1px solid $medium-gray

    &:focus
      border-bottom: none

.select
  width: 100%
  height: 40px

  &.is-outlined
    border: 1px solid $primary-dark
    select
      background-color: transparent

  &:not(.is-multiple)
    height: auto

  &:not(.is-multiple):not(.is-loading)::after
    border-color: $medium-gray

  select
    width: 100%
    background-color: $light-gray
    border: none


.label
  font-size: 1.2rem
  font-weight: 400
  color: $medium-gray

  &.req::after
    content: '*'
    color: $tertiary
    margin-left: .5rem


.dropdown
  width: 100%

.dropdown-menu

  li:hover
    background-color: $primary

.v-select
  font-size: 1.5rem

  .dropdown-toggle
    border: none
    border-bottom: 1px solid $medium-gray
    border-radius: 0
    width: 100%

  &.single .selected-tag
    position: absolute

  .selected-tag
    font-size: 1.5rem
    background-color: $light-gray
    margin: 0 0 0 2.5rem
    padding: .5rem

  input[type=search],
  input[type=search]:focus
    font-size: 1.5rem
    margin: 0 0 0 2.5rem
    padding: .5rem

.file-input
  opacity: 0

.control
  display: flex

  .icon
    font-size: 1.3rem

  &.has-icons-left .icon,
  &.has-icons-right .icon
    color: $medium-gray

  &__button
    display: flex

.v-switch-label
  font-size: 1.5rem

.file
  display: inline-block

  .file-label
    text-transform: uppercase
    .file-cta
      padding-right: 2rem
      padding-left: 2rem
      margin-right: 1rem


.form-control
  display: block
  width: 100%
  height: 48px
  font-size: 1.3rem
  border: none
  padding: 1rem
  background-image: none
  border-radius: 3px
  border: 2px solid transparent
  background: rgba($light-gray, 0.9)
  //transition: all .5s
  outline: 0px !important
  font-weight: 400


.form-control:focus
    border: 2px solid $primary-color
    border-color: $primary-color
    outline: 0px none
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(102, 175, 233, 0.6)


/////////////////////////////////////////////////////
// Element UI
.el-input__search
  padding: .25rem 0
  border-bottom: 1px solid $medium-gray
  width: auto

  .el-input__inner
    background-color: transparent

.el-input__inner
  color: $body-font-color
  font-size: 1.3rem
  border-radius: 0
  background-color: #F4F4F4
  border: none
  height: 40px
  line-height: 1.5
  padding-bottom: calc(0.375em - 1px)
  padding-top: calc(0.375em - 1px)


.el-date-editor.el-input,
.el-date-editor.el-input__inner,
.el-select
  width: 100%

.el-input__icon
  color: $medium-gray
  line-height: 2.25em
  font-size: 1.4rem
  display: inline-block

.el-transfer
  display: flex
  align-items: center

  &-panel
    width: 250px

    &__filter .el-input__icon
      margin-left: 0

.el-checkbox
  &.is-checked
    .el-icon-success
      color: $primary-light

  &.hide
    .el-checkbox__input
      display: none

.el-photo-checkbox
  margin: 0 1rem 1rem

  .el-checkbox__input
    display: none

  .el-checkbox__label
    padding: 0
    position: relative

  .is-bordered
    padding: 0
    border: 4px solid $white
    border-radius: 0
    height: 100%
    line-height: 0

    &.is-checked
      border: 4px solid $primary-light

      &::after
        content: '\2714'
        color: $white
        background-color: $primary-light
        border-radius: 50%
        position: absolute
        top: -1rem
        right: -1rem
        padding: 1.3rem .8rem

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected
  color: $primary

.el-tag
  font-size: 1.3rem
  &--small
    padding: 0 1rem
    height: 28px

.el-select .el-tag
  background-color: $medium-gray
  color: $white

  &__close.el-icon-close
    &:hover
      background-color: darken($medium-gray, 10)
