.menubar
  flex-grow: 0
  flex-shrink: 0
  flex-basis: 75px
  background-color: $dark-gray
  display: flex
  flex-direction: column

  &__item
    height: 100%
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    padding: .5rem
    min-height: 10rem
    border-left: 4px solid transparent

    a
      color: rgba($white, .35)

    &.is-active
      border-left: 4px solid $tertiary
      background-color: rgba($medium-gray, .35)

      a
        color: $white

    &:hover,
    &:focus,
    &:active
      background-color: rgba($medium-gray, .35)
      a
        color: $white


  &__icon
    font-size: 3rem
    margin: .8rem

  &__text
    font-size: 1.2rem
