.modal-backdrop
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-color: rgba($black, .7)
  z-index: 999

  &.is-small
    .modalbox
      width: 40rem

  &.is-large
    .modalbox
      width: 80rem

  &.is-hd
    .modalbox
      width: 80vw



.modalbox
  +center
  background: $white
  box-shadow: 0 .2rem .4rem rgba($black, .5)
  min-width: 40rem
  max-width: 80rem

  &-header,
  &-footer
    display: flex


  &-header
    color: $primary-dark
    font-size: 1.8rem
    justify-content: space-between
    padding: 2rem 3rem

    div
      width: 100%


  &-footer
    //border-top: 1px solid $light-gray
    justify-content: flex-end
    padding: 1rem 3rem
    div
      padding: 1rem 0

  &-body
    position: relative
    padding: 1rem 3rem
    max-height: 80vh
    overflow-y: auto

  &-btn-close
    border: none
    padding: .5rem
    position: absolute
    right: 2rem
    top: 1.5rem

    &:hover
      background-color: $light-gray

  &-fade-enter,
  &-fade-leave-active
    opacity: 0

  &-fade-enter-active,
  &-fade-leave-active
    transition: opacity 0.5s ease

  .btn-group
    width: 100%
