.navbar
  height: 60px

  &-brand
    padding-left: 1rem
    width: 255px

  &-start
    align-items: center
    justify-content: center
    flex: 1

  &-end
    margin-left: 0

  &.is-primary
    background-color: $primary-light

  &-item
    padding: .5rem 1.25rem

    &.has-dropdown
      padding: .5rem 1.25rem
      align-items: center;

    &__icon
      padding: 0
      font-size: 2.5rem

  &-dropdown
    color: $medium-gray
    border-top-color: $primary-light
    right: 0
    left: auto
    min-width: 150px
    font-size: 1.3rem

    &__item
      color: $black
      display: block
      padding: .5rem 1.5rem
      white-space: nowrap

      &:hover
        background-color: $light-gray

    &__text
      padding: .5rem 1.5rem
