.tabbar
  display: flex
  position: relative
  align-items: center
  justify-content: center

  &.is-between
    +tablet-only
      justify-content: space-between

  &-left
    position: absolute
    top: 3px
    left: 0

  &-right
    position: absolute
    top: 3px
    right: 0


.tabs.is-toggle a
    min-width: 12rem
