.table
  thead
    background-color: rgba($medium-gray, .35)
    th
      color: $white
      border: none

  tbody
    max-height: 60vh

  td
    border: none
    padding: 1rem

    a
      font-weight: 600
      color: $primary

      &:hover
        text-decoration: underline

  &.is-striped
    tbody
      tr:not(.is-selected)
        &:nth-child(odd)
          background-color: $light-gray

        &:nth-child(even)
          background-color: $white

  &.is-hoverable.is-striped
    tbody
      tr:not(.is-selected):hover
        background-color: rgba($primary-light, .2)


/////////////////////////////////////////////////////
// Element UI
.el-table
  a
    font-weight: 600
    &:hover,
    &:active,
    &:focus
      text-decoration: underline

  th
    background-color: rgba($medium-gray, .35)
    color: $white
    padding: .5rem 0

  tr
    background-color: $light-gray
    padding: .5rem 0

    &:nth-child(odd)
      background-color: $light-gray

    &:nth-child(even)
      background-color: $white

  .caret-wrapper
    height: 26px

  .sort-caret
    &.ascending
      top: 1px
    &.descending
      bottom: 2px

  .descending .sort-caret.descending
    border-top-color: $primary

  .ascending .sort-caret.ascending
    border-bottom-color: $primary
