h1
  font-size: 3.5rem
  line-height: 2

h2
  font-size: 2.8rem

h3
  font-size: 2.2rem

h4
  font-size: 1.8rem

h5
  font-size: 1.5rem

p
  font-size: 1.2rem

.appname
  font-size: 7.8rem
  color: $white
  font-weight: 100
  line-height: 1

.navbar-item
  font-size: 1.3rem
  color: $white

.navbar-brand-title
  font-size: 2rem
  align-self: center

.header-title
  font-size: 2rem
  color: $white

.sub-title
  font-size: 1.2rem
  color: $white
  font-weight: $weight-light
  letter-spacing: .5px

.tips
  color: $medium-gray
  font-size: 13px

  &:before
      content: '* '


///////////////////////////////////////// BULMA
.subtitle
  color: $medium-gray

