.container
  &.is-fluid
    margin: 0

////////////////////////////////////////////
// SPACE
.m-1
  margin: 1rem

.m-2
  margin: 2rem

.m-3
  margin: 4rem

.mr-1
  margin-right: 1rem

.mr-2
  margin-right: 2rem

.mr-3
  margin-right: 3rem

.mt-1
  margin-top: 1rem

.mt-2
  margin-top: 2rem

.mt-3
  margin-top: 3rem

.mb-1
  margin-bottom: 1rem

.mb-2
  margin-bottom: 2rem

.mb-3
  margin-bottom: 3rem

.mtb-1
  margin-top: 1rem
  margin-bottom: 1rem

.mtb-2
  margin-top: 2rem
  margin-bottom: 2rem

.mtb-3
  margin-top: 3rem
  margin-bottom: 3rem

.p-1
  padding: 1rem

.p-2
  padding: 2rem

.p-3
  padding: 4rem

.pt-1
  padding-top: 1rem

.pt-2
  padding-top: 2rem

.pt-3
  padding-top: 4rem

.w-full
  width: 100%

.w-half
  width: 50%

.is-noborder
  border: none

.is-transparent
  background-color: transparent !important

.has-shadow
  box-shadow: 0px 0px 30px 0px rgba(52, 52, 52, 0.15)

.has-bordered
  border: 1px solid $light-gray
  padding: 1rem

.flex-box
  display: flex
  justify-content: space-between


