@import 'setting';
/* Table of Content
==================================================
  1. COMMON STYLES
  2. SECTION ABOUT
  3. SECTION FEATURES
  4. SECTION CONTACT
  5. SECTION FOOTER
  6. POPUP

*/
.container {
  overflow: initial;

  @media screen and (min-width: 1088px) {
    max-width: 1152px;
  }
}


/*---------------------------------------
   COMMON STYLES
-----------------------------------------*/
.hero {
  background: url(../assets/images/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;

  h1 {
    margin: 2rem 0;
    line-height: 1;
  }
}

.hero-body .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 2rem;
  padding-right: 2rem;
}

.applogo {
  border-radius: 20px;
  border: 2px solid #eee;
}

.home {

  &__title {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 1.75;
  }

  &__subtitle {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  &__tertiary {
    color: #a4a4a4;
    font-size: 1.5rem;
  }
}

section h1 {
    text-transform: uppercase;
}


.container .wrap:not(.noSpaces), .container .wrap.spaceWrap, .container .wrap .spaceWrap {
    padding: calc(5.56% + 50px) calc(8% + 15px);
}

.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
  background-color: $dark-gray;
}

.navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  a {
    color: $medium-gray;

    &:hover {
      color: $primary-color;
    }
  }

  &.has-bg {
    background-color: #292b2c;

    a {
      color: $primary-color;

      &:hover {
        color: $primary-light;
      }
    }
  }

  .navbar-item {
    text-transform: uppercase;
    color: $medium-gray;

    a {
      color: $medium-gray;

      &:hover {
        color: $primary-color;
        background-color: transparent;
      }
    }

    &.is-primary {
      font-weight: 600;
      border: 1px solid rgba($medium-gray, .25);

      &:hover {
        color: $primary-color;
        border-color: currentColor;
      }
    }
  }
}

.section_overlay {
  background-color: rgba(33, 33, 33, .75);
}


/*---------------------------------------
   SECTION ABOUT
-----------------------------------------*/
.about {
    background: #F1F1F1;

    &__img {
      display: flex;
      background: url(../assets/images/screen_1.png) no-repeat center;
      background-size: cover;
      height: 100%;
    }
}


/*---------------------------------------
   SECTION SOLUTIONS
-----------------------------------------*/
.solutions {
    background: url(../assets/images/feature_bg.jpg) no-repeat center;
    background-size: cover;
    color: $primary-color;
    text-align: center;
}

.solutions .section_overlay {
    background-color: rgba(46, 182, 220, .75);
    padding-bottom: 5rem;
}

.solutions h1 {
    color: #fff;
}

.solution-content {
  margin-top:-6rem;

  .tile {
    overflow: hidden;
    margin: 0;
  }
}

.single_card {
  background: lighten($medium-gray, 25);
  color: #353D42;
  display: flex;
  flex-direction: column;
  align-content: space-between;

  &.darkbg {
    background: $dark-gray;
    color: $light-gray;
  }

  .title {
      color: $dark-gray;
      font-weight: 600;
      font-size: 2rem;
  }

  &.darkbg .title  {
      color: $light-gray;
      font-weight: 400;
  }

  .subtitle {
    color: #0086AA;
    font-size: 1.5rem;
      margin-bottom: 1em;
  }

  &.darkbg .subtitle {
      color: $primary-color;
  }

  .content {
    padding: 2rem;
    margin-bottom: auto;
  }
}

.card_img {
  line-height: 0;
  height: 150px;
  overflow: hidden;

  img {
    width: 100%;
  }
}


/*---------------------------------------
   SECTION FEATURES
-----------------------------------------*/
.features {
    text-align: center;
    margin: 6rem auto 4rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @media screen and (min-width: 1088px) {
      margin: 12rem auto 8rem;
    }
}

.feature_content {
    margin-bottom: 5rem;

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
      color: $primary-dark;
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
}

.diamond {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    background: $primary-color;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);

  &__icon {
    font-size: 4rem;
    color: $white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: auto;
  }

  &.bordered {
      background: $white;
      border: 1px solid $primary-color;

      .diamond__icon {
        color: $primary-color;
      }
  }
}


/*---------------------------------------
   SECTION CONTACT
-----------------------------------------*/
.contact {
    background-image: url(../assets/images/contactbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #040505;
}

.contact .section_overlay {
    background: rgba(0, 0, 0, .5);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact .section_title h1{
	color: #fff;
}

.contact .section_title p{
	color: #a4a4a4;
}

.contact_form {
  margin: 0 auto;
  width: 80%;

  @support(display: grid) {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-gap: 2rem;
  }

  .control {
    margin-bottom: 1.5rem;

    @support(display: grid) {
      &:nth-child(6) {
        grid-row: 2 / 4;
        grid-column: 2 / 3;
      }
    }
  }

  .form-control {
    color: #fff;
    display: block;
    width: 100%;
    height: 4rem;
    font-size: 1.3rem;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #fff;
    background-color: transparent;
    border: 1px solid #aeaeae;
    background-image: none;
    border-radius: 3px;
    opacity: .8;

    transition: all .5s;
    outline: 0px !important;

    &.size-2x {
      height: 10rem;
    }

    &:focus {
        border: 1px solid $primary-color;
        border-color: $primary-color;
        outline: 0px none;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(102, 175, 233, 0.6);
    }

  }
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    background-color: transparent;
    border: 1px solid #F7991C;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #F7991C;
    transition: all .5s;
    outline: 0px !important;
}
.submit-btn:hover {
    background-color: #F7991C;
    color: #fff;
    border-color: #F7991C;
}


/*---------------------------------------
   SECTION FOOTER
-----------------------------------------*/

.copyright {
    background-color: #1A1D22;
    padding-bottom: 6rem;
    padding-top: 6rem;
    border-bottom: 3px solid $primary-color;
    color: #8C8B8A;
    padding-left: 2rem;
    padding-right: 2rem;

    h4 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    i {
        padding-right: 10px;
    }

    a {
      color: $primary-color;

      &:hover {
        color: darken($primary-color, 8);
      }
    }
}

.copy_right_text {
  p a {
      text-decoration: none;
      color: $primary-color;
  }

  p span {
      font-weight: 300;
  }
}

.scroll_top {
    text-align: right;
    margin-top: 22px;

    a {
      background: $primary-color;
      padding: 25px;

      &:hover {
        background: darken($primary-color, 8);
      }
    }

    a i {
      color: #fff;
      font-size: 25px;
      padding: 0;
    }
}

.spn_hol {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 50000;
    opacity: 1;
     -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.spinner {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 50%;
    margin-left: -35px;
    height: 24px;
    width: 70px;
    text-align: center;
    display: block;
}
.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*---------------------------------------
   SECTION POPUP
-----------------------------------------*/
/* Styles for dialog window */

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($black, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba($black, .3);
  }

  &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 75%;
      background-color: $white;
      box-shadow: 0 2rem 4rem rgba($black, 0.2);
      border-radius: 3px;
      display: table;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%) scale(.25);
      transform: translate(-50%, -50%) scale(.25);
      -webkit-transition: all .4s .2s;
      transition: all .4s .2s;

      &.medium {
        width: 50rem;
      }

      .btn-close {
        position: absolute;
        z-index: 9999;
        top: -4rem;
        right: -4rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        background-color: $medium-gray;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: darken($medium-gray, 8)
        }

        i {
          font-size: 1.8rem;
        }
      }

      .no-gap {
        .column {
          padding: 0;
        }
      }

      .price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        height: 29rem;
        padding: 2rem;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        min-width: 225px;
        border-right: 1px solid $light-gray;

        h1 {
          font-size: 5rem;
          color: $dark-gray;
          position: relative;

          &::before {
            content: '\0024';
            font-size: 3rem;
            color: $medium-gray;
            position: absolute;
            top: 2rem;
            left: -2rem;
          }
        }

        &__desc {
          color: rgba($dark-gray, .8);
          margin: 2rem auto;
        }

        &.is-primary {
          margin-top: 0;
          margin-bottom: 0;
          height: 32rem;
          background-color: #E0F0FE;
        }
      }

    }



  //Open states
  &:target {
      opacity: 1;
      visibility: visible;
  }

  &:target &__content {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
  }
}


.popup input[type='email'],
.popup input[type='text'] {
  padding: .75em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  box-shadow: none;
  resize: none;
  outline: none;
}
.popup input[type='email']:hover,
.popup input[type='text']:hover {
}
.popup input[type='email']:focus,
.popup input[type='email']:active,
.popup input[type='text']:focus,
.popup input[type='text']:active {
  border: 2px solid $primary-color;
}
.popup input[type='email']:focus + label:before,
.popup input[type='email']:active + label:before,
.popup input[type='text']:focus + label:before,
.popup input[type='text']:active + label:before {
  color: $primary-color;
}
.popup input[type='email'] + label,
.popup input[type='text'] + label {
  display: block;
  //font-size: 1.4em;
  height: 2em;
  line-height: 2em;
  margin-top: calc(-2.5em - 1px);
  margin-bottom: 1em;
  pointer-events: none;
}
.popup input[type='email'] + label:before,
.popup input[type='text'] + label:before {
  content: attr(placeholder);
  display: inline-block;
  color: #999999 !important;
  margin: 0 calc(1em + 2px);
  white-space: nowrap;
  -webkit-transition-property: -webkit-transform, color;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
.popup input[type='email']:focus + label:before,
.popup input[type='email'].active + label:before,
.popup input[type='email']:valid + label:before,
.popup input[type='text']:focus + label:before,
.popup input[type='text'].active + label:before,
.popup input[type='text']:valid + label:before {
  line-height: 1;
  font-size: 1rem;
  -webkit-transform: translateY(-1.2em);
  transform: translateY(-1.2em);
}
.popup input[type='email']:valid,
.popup input[type='text']:valid {
  background: url(../assets/images/icon_check.png) no-repeat right center rgba(255, 255, 255, 0.9);
}
.popup input[type='email']:valid + label:before,
.popup input[type='text']:valid + label:before {
  content: attr(alt);
  color: $primary-color;
}


.btn {
  background: #0086FA;
  color: $white;
  font-size: 1.5rem;
  border-radius: 0;
  width: 100%;
  text-align: center;
  padding: .8rem 1rem;

  &.users-btn {
    background: #F2BE2C;
  }
}


.btn-link {
  color: $primary-color;
  font-size: 1rem;

  &:hover {
    color: darken($primary-color, 8);
    text-decoration: underline;
  }
}




